@import "~~src/web/variables";

// TODO consider moving colors to app-wide variables
$protonmail: darken(#878ac2, 5%);
$tutanota: darken(#ac2738, 5%);

:host {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 1px;

    span {
        @include border-radius($badge-border-radius);
        display: inline-block;
        padding: 2px 4px;
        border: 2px solid transparent;
        font-size: 0;

        &::first-letter {
            font-size: $app-font-size-base-small;
        }

        &.protonmail {
            color: $protonmail;
            border-color: darken($protonmail, 2%);
        }

        &.tutanota {
            color: $tutanota;
            border-color: darken($tutanota, 2%);
        }
    }
}
