@import "~src/web/variables";

:host {
    @include badge-variant(transparent);
    @include border-radius($badge-border-radius);
    display: inline-block;
    align-self: center;
    line-height: 1;
    margin-bottom: -1px;
    padding: $badge-padding-y $badge-padding-x;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
