@import "src/web/variables";

:host {
    .rounded {
        padding: $list-group-item-padding-y $list-group-item-padding-x;
        border: $card-border-width solid $card-border-color;

        .form-check {
            margin-top: $app-spacer-1;

            @media (min-width: #{map-get($grid-breakpoints, md)}) {
                margin-top: 0;
            }
        }
    }

    .row-primary-fields {
        align-items: center;
        margin-top: -($app-spacer-1 / 2);
    }

    .custom-notification-hint {
        color: map_get($app-account-title-btn-colors, "selected-text");
    }
}
