<a [routerLink]="['./../account-edit']" class="btn btn-primary mb-3" id="goToAccountsSettingsLink">
    <i aria-hidden="true" class="fa fa-plus"></i>
    Add Account
</a>
<ul
    (cdkDropListDropped)="cdkDrop($event)"
    [cdkDropListDisabled]="reorderingDisabled"
    [cdkDropListLockAxis]="'y'"
    [cdkDropListOrientation]="'vertical'"
    [cdkDropListSortingDisabled]="false"
    cdkDropList
    class="list-group"
>
    <li
        *ngFor="let account of ((accounts$ | async) || undefined)"
        cdkDrag
        [cdkDragData]="{login: account.login}"
        class="list-group-item pl-0 pr-3"
    >
        <i cdkDragHandle class="fa fa-bars px-3" title="Drag up/down to reorder"></i>
        <electron-mail-type-symbol [type]="account.type" class="mr-1"></electron-mail-type-symbol>
        {{ account.login }}
        <span *ngIf="account.title"> ({{ account.title }})</span>
        <a [routerLink]="['./../account-edit', account.login]" class="float-right">
            Edit
        </a>
    </li>
</ul>
<div *ngIf="changingAccountOrder$ | async" class="progress mt-3">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width: 100%">
        Reordering ...
    </div>
</div>
