<fieldset [disabled]="(processing$ | async) || false">
    <form
        [formGroup]="form"
        class="form-group m-0"
        novalidate
    >
        <div class="card mb-2">
            <div class="card-header" [ngStyle]="appearanceBlockCollapsed ? {'border-bottom-width': '0'} : {}">
                <button type="button" class="btn btn-link p-0" (click)="appearanceBlockCollapsed = !appearanceBlockCollapsed">
                    Appearance
                </button>
            </div>
            <div class="card-body" [collapse]="appearanceBlockCollapsed">
                <div class="form-group">
                    <label class="d-block mb-2">
                        Tray icon color
                    </label>
                    <input
                        (colorPickerChange)="trayIconColorPickerChangeHandler($event)"
                        [colorPicker]="($trayIconColor | async) || undefined"
                        [cpOutputFormat]="'hex'"
                        [cpPosition]="'bottom'"
                        [cpToggle]="colorPickerOpened.icon"
                        [value]="($trayIconColor | async) + ''"
                        class="form-control form-control-sm"
                        readonly
                        style="cursor: pointer;"
                        type="text"
                    />
                </div>
                <div>
                    <label class="d-block mb-2">
                        Notification badge
                        <electron-mail-unread-badge
                            [value]="($unreadSummary | async) || undefined"
                        ></electron-mail-unread-badge>
                    </label>
                    <div class="row">
                        <div class="col-sm-6 pb-1">
                            <input
                                (colorPickerChange)="bgColorPickerChangeHandler($event)"
                                [colorPicker]="($unreadBgColor | async) || undefined"
                                [cpOutputFormat]="'hex'"
                                [cpPosition]="'bottom'"
                                [cpToggle]="colorPickerOpened.bg"
                                [value]="'background: ' + ($unreadBgColor | async)"
                                class="form-control form-control-sm"
                                readonly
                                style="cursor: pointer;"
                                type="text"
                            />
                        </div>
                        <div class="col-sm-6 pb-1">
                            <input
                                (colorPickerChange)="textColorPickerChangeHandler($event)"
                                [colorPicker]="($unreadTextColor | async) || undefined"
                                [cpOutputFormat]="'hex'"
                                [cpPosition]="'bottom'"
                                [cpToggle]="colorPickerOpened.text"
                                [value]="'text: ' + ($unreadTextColor | async)"
                                class="form-control form-control-sm"
                                readonly
                                style="cursor: pointer;"
                                type="text"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-control custom-switch">
            <input
                class="custom-control-input"
                formControlName="closeToTray"
                id="closeToTrayCheckbox"
                type="checkbox"
            >
            <label class="custom-control-label" for="closeToTrayCheckbox">
                Close to tray
            </label>
        </div>
        <div class="custom-control custom-switch">
            <input
                class="custom-control-input"
                formControlName="compactLayout"
                id="compactLayoutCheckbox"
                type="checkbox"
            >
            <label class="custom-control-label" for="compactLayoutCheckbox">
                Tabs view mode
            </label>
        </div>
        <div class="custom-control custom-switch">
            <input
                class="custom-control-input"
                formControlName="fullTextSearch"
                id="fullTextSearchCheckbox"
                type="checkbox"
            >
            <label class="custom-control-label" for="fullTextSearchCheckbox">
                Full-text search
                <i
                    *ngIf="fullTextSearchDisabled$ | async"
                    [popover]="fullTextSearchPopoverTemplate"
                    class="fa fa-info-circle text-warning"
                    container="body"
                    [placement]="'bottom'"
                    triggers="mouseenter:mouseleave"
                ></i>
                <ng-template #fullTextSearchPopoverTemplate>
                    This feature works together with <code>local store</code> feature which you can enable per account.
                </ng-template>
            </label>
        </div>
        <div class="custom-control custom-switch">
            <input
                class="custom-control-input"
                formControlName="startMinimized"
                id="startMinimizedCheckbox"
                type="checkbox"
            >
            <label class="custom-control-label" for="startMinimizedCheckbox">
                Start minimized to tray
            </label>
        </div>
        <div class="custom-control custom-switch">
            <input
                    class="custom-control-input"
                    formControlName="hideControls"
                    id="hideControlsCheckbox"
                    type="checkbox"
            >
            <label class="custom-control-label" for="hideControlsCheckbox">
                Hide controls bar (F12)
            </label>
        </div>
        <div class="custom-control custom-switch">
            <input
                class="custom-control-input"
                formControlName="findInPage"
                id="findInPageCheckbox"
                type="checkbox"
            >
            <label class="custom-control-label" for="findInPageCheckbox">
                Find in page (Ctrl+F)
                <i
                    [popover]="findInPagePopoverTemplate"
                    class="fa fa-info-circle text-primary"
                    container="body"
                    [placement]="'bottom'"
                    triggers="mouseenter:mouseleave"
                ></i>
                <ng-template #findInPagePopoverTemplate>
                    <p>
                        The <code>in page search</code> is only available within accounts page. So if you have no accounts added to the
                        app then
                        Ctrl+F hotkey will take no effect.
                    </p>
                    <p>
                        The search window will be automatically closed on switching between accounts.
                    </p>
                    <p>
                        Search window will be automatically closed on switching to the <code>database view</code> mode. Ctrl+F hotkey
                        takes no effect
                        while in <code>database view</code> mode.
                    </p>
                </ng-template>
            </label>
        </div>
        <div class="custom-control custom-switch">
            <input
                    class="custom-control-input"
                    formControlName="checkUpdateAndNotify"
                    id="checkUpdateAndNotifyCheckbox"
                    type="checkbox"
            >
            <label class="custom-control-label" for="checkUpdateAndNotifyCheckbox">
                Check for update and notify
            </label>
        </div>
        <div class="custom-control custom-switch">
            <input
                class="custom-control-input"
                formControlName="disableSpamNotifications"
                id="disableSpamNotificationsCheckbox"
                type="checkbox"
            >
            <label class="custom-control-label" for="disableSpamNotificationsCheckbox">
                Disable notifications on spam folders
            </label>
            <i
                [popover]="disableSpamNotificationsPopoverTemplate"
                class="fa fa-info-circle text-primary align-self-center"
                container="body"
                [placement]="'bottom'"
                triggers="mouseenter:mouseleave"
            ></i>
            <ng-template #disableSpamNotificationsPopoverTemplate>
                This option only makes sense if <code>local store</code> feature is enabled for account.
            </ng-template>
        </div>
        <div class="custom-control custom-switch">
            <input
                class="custom-control-input"
                formControlName="unreadNotifications"
                id="unreadNotificationsCheckbox"
                type="checkbox"
            >
            <label class="custom-control-label" for="unreadNotificationsCheckbox">
                Desktop notifications for unread messages
            </label>
        </div>
        <hr>
        <label class="d-block mb-2" for="logLevelSelect">
            Log level
            <i
                [popover]="logLevelSelectPopoverTemplate"
                class="fa fa-info-circle text-warning align-self-center"
                container="body"
                [placement]="'bottom'"
                triggers="mouseenter:mouseleave"
            ></i>
            <ng-template #logLevelSelectPopoverTemplate>
                Think twice before selecting a value other than <code>error</code>.
            </ng-template>
        </label>
        <div class="row">
            <div class="col-sm-6">
                <select class="form-control form-control-sm w-100" formControlName="logLevel" id="logLevelSelect">
                    <option *ngFor="let logLevel of logLevels" [value]="logLevel">
                        {{ logLevel }}
                    </option>
                </select>
            </div>
        </div>
        <div class="text-muted mt-2">
            Log files located in the <a (click)="openSettingsFolder($event)" href>settings folder</a>
        </div>
    </form>
</fieldset>
