@import "src/web/variables";

:host {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    & > .justify-content-center {
        align-items: center;
        height: 100%;
    }

    fieldset,
    input[type="password"],
    button[type="submit"] {
        margin-bottom: $form-group-margin-bottom * 0.75;
    }

    .progress {
        font-size: $font-size-base;
        height: ($progress-height * 1.5);
    }
}
