<ng-container *ngIf="keytarSupport$ | async; else keytarUnsupportedTemplate">
    Keep me signed in
    <i
        *ngIf="savePassword" [placement]="'bottom'"
        [popover]="popTemplate" class="fa fa-info-circle text-danger" container="body" triggers="mouseenter:mouseleave"
    ></i>
    <ng-template #popTemplate>
        Choosing <code>Keep me signed in</code> option enables saving the master password on your computer. It weakens
        the security.
    </ng-template>
</ng-container>
<ng-template #keytarUnsupportedTemplate>
    <code>Keep me signed in</code> feature is unsupported by the system,
    <a (click)="toggleKeytarUnsupportedDetails($event)" href>toggle details</a>.
    <div [collapse]="!keytarUnsupportedDetails" class="text-left">
        <ul>
            <li>
                First of all please see <a href="https://github.com/vladimiry/ElectronMail/wiki/FAQ">FAQ</a> for more information.
            </li>
            <li>
                See log file in
                <a (click)="openSettingsFolder($event)" href>settings folder</a>
                for details.
            </li>
            <li *ngIf="snapPasswordManagerServiceHint$ | async">
                Try executing <code>sudo snap connect {{ projectName }}:password-manager-service</code>
                <br>
                and restart the app.
            </li>
        </ul>
    </div>
</ng-template>
