@import "~src/web/variables";

$render-visible-class: 'visible';

:host {
    $bg-color: theme-color("secondary");
    $padding: 0.2em;
    $padding-l: 0.25em;

    display: flex;

    > div {
        &.#{$render-visible-class} {
            display: flex;
        }

        @include border-radius;
        display: none;
        background-color: $bg-color;
        border: 1px solid darken($bg-color, 10%);
        color: $white;
        font-size: $app-font-size-base-medium;
        margin: $padding-l $padding;
        padding: $padding $padding-l;
    }
}

:export {
    renderVisibleClass: #{$render-visible-class},
}
