@import "~_@web/src/variables";

:host {
    .account-value {
        &-login {
            font-weight: bold;
            opacity: 0.85;
        }

        &-sync-title {
            font-size: $font-size-sm;
        }
    }
}
