@import "~_web_src/variables";

:host {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    webview {
        flex: 1;
        height: 100%;
    }

    > #{$app-prefix}-keepass-request {
        margin: $app-spacer-2 $app-spacer-2 0;
    }
}
