<protonmail-desktop-app-keepass-request
    *ngIf="(account$ | async).sync.pageType.type == 'login'"
    [keePassRef$]="passwordKeePassRef$"
    [keePassClientConf$]="keePassClientConf$"
    (passwordHandler)="onPassword($event)"
    [lock$]="passwordProgress$"
></protonmail-desktop-app-keepass-request>

<protonmail-desktop-app-keepass-request
    *ngIf="(account$ | async).sync.pageType.type == 'unlock'"
    [keePassRef$]="mailPasswordKeePassRef$"
    [keePassClientConf$]="keePassClientConf$"
    (passwordHandler)="onMailPassword($event)"
    [lock$]="mailPasswordProgress$"
></protonmail-desktop-app-keepass-request>

<!--
TODO enable keepass interaction for "twoFactorCode"
-->

<webview
    *ngIf="webViewPreload$ | async"
    #webViewRef
    [src]="webViewSrc"
    [preload]="webViewPreload$ | async"
></webview>

<div *ngIf="!!offlineIntervalRemainingSec" class="p-3 text-center text-warning">
    Failed to load <strong>{{ webViewSrc }}</strong> page with error code: <strong>{{ didFailLoadErrorDescription }}</strong>.
    Reloading in <strong>{{ offlineIntervalRemainingSec }}</strong> sec.
</div>
