@import '~_web_src/variables';

:host {
    .account-value {
        &-login {
            font-weight: bold;
            opacity: .85;
        }
        &-sync-title {
            font-size: $font-size-sm;
        }
    }
}
