@import "~src/web/src/variables";

:host {
    display: block;
    position: relative;
    word-break: break-all;
    padding-right: 15px;

    .account-value-login {
        display: inline;
        font-weight: bold;
        opacity: 0.85;
    }

    .account-value-sync-unread {
        display: inline;

        .badge {
            padding: 0.38em 0.55em;
        }
    }

    .account-value-sync-logged-in {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.65;
    }
}
