@import "~src/web/src/variables";

$webview-border: darken($app-color-bg-dark, 10%);

:host {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $app-color-bg-dark;

    &::ng-deep {
        #{$app-prefix}-account {
            border-top: 1px solid $webview-border;
        }
    }

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
    }

    .no-accounts-block {
        height: 100%;

        .btn {
            white-space: normal;
        }
    }

    .controls {
        display: block;
        margin-right: $app-spacer-2;
        margin-bottom: 0;

        .btn-group {
            width: 100%;

            > .btn:first-child {
                width: 100%;
            }
        }

        .dropdown-menu {
            min-width: 100%;

            .toggle-layout-view {
                display: none;
            }
        }
    }

    .accounts-block {
        display: flex;
        flex-flow: row;
        z-index: 100;

        .list-group.accounts-list {
            flex-direction: row;
            flex-wrap: wrap;

            .list-group-item-action {
                display: inline-block;
                width: auto;
            }
        }

        .btn-group.accounts-list {
            width: 100%;

            &::ng-deep {
                .dropdown-toggle::after {
                    display: none;
                }
            }

            .unread-summary {
                $padding-x-addition: $app-spacer-1 * 0.75;
                @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius);
                padding-left: $padding-x-addition;
                padding-right: ($app-spacer-2 + $padding-x-addition);

                .badge {
                    font-size: 100%;
                }
            }

            & > .dropdown-toggle {
                width: 100%;
                border-top-left-radius: $btn-border-radius;
                border-bottom-left-radius: $btn-border-radius;

                &::ng-deep {
                    #{$app-prefix}-account-title {
                        @include caret;
                    }
                }
            }

            .dropdown-menu {
                margin-top: $app-spacer-2;
                min-width: 100%;

                .dropdown-item {
                    padding: ($list-group-item-padding-y * 0.8) $list-group-item-padding-x;
                }
            }
        }
    }

    .account-block {
        position: relative;
        flex: 1;
    }

    .compact-layout {
        .list-group.accounts-list {
            .list-group-item-action {
                border-radius: $list-group-border-radius;
                margin-bottom: $app-spacer-2 * 1.15;
                padding: $btn-padding-y $btn-padding-x;

                &:not(:last-child) {
                    margin-right: $app-spacer-2;
                }
            }
        }
    }

    @media (min-width: #{map-get($grid-breakpoints, lg)}) {
        .controls {
            .dropdown-menu {
                .toggle-layout-view {
                    display: block;
                }
            }
        }

        .wrapper:not(.compact-layout) {
            flex-flow: row;

            &::ng-deep {
                #{$app-prefix}-account {
                    border-left: 1px solid $webview-border;
                    border-top: 0;
                }
            }

            > .btn-group {
                display: none;
            }

            .controls {
                margin-right: 0;
                margin-bottom: $app-spacer-3;
            }

            .accounts-block {
                position: relative;
                flex-flow: column;
                flex-grow: 0;

                .list-group.accounts-list {
                    flex-direction: column;
                }
            }

            .account-block {
                flex-grow: 100;
            }
        }
    }
}
