@import "~src/web/src/variables";

:host {
    &.reordering-disabled {
        .drag-hover {
            cursor: not-allowed;
        }
    }

    .drag-hover {
        color: $gray-500;
        cursor: move;

        &:hover {
            color: $gray-600;
        }
    }
}
