<fieldset [disabled]="(processing$ | async) || (removing$ | async)">
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate class="form-group">
        <div class="rounded mb-2">
            <email-securely-app-type-symbol [type]="account.type" *ngIf="account"></email-securely-app-type-symbol>
            <div class="d-inline-block">
                <span *ngIf="account; else label" [attr.data-login]="account.login">{{ account.login }}</span>
                <ng-template #label>Add Account</ng-template>
            </div>
            <div class="custom-control custom-switch float-md-right">
                <input type="checkbox" class="custom-control-input" formControlName="database" id="databaseCheckbox">
                <label class="custom-control-label" for="databaseCheckbox">
                    Local store
                    <i class="fa fa-info-circle text-primary"
                       [popover]="localStorePopoverTemplate" placement="bottom" container="body" triggers="mouseenter:mouseleave"
                    ></i>
                    <ng-template #localStorePopoverTemplate>
                        The <code>local store</code> feature enables storing your messages in the encrypted <code>database.bin</code> file,
                        so you could view your messages offline and export them to EML files.
                    </ng-template>
                </label>
            </div>
        </div>
        <div class="form-group required" *ngIf="!account">
            <ng-template #typeItemTemplate let-item="item" let-index="index">
                <email-securely-app-type-symbol [type]="item.value"></email-securely-app-type-symbol>
                {{ item.title }}
            </ng-template>
            <label>Type</label>
            <ng-select [items]="typeValues" [clearable]="false" formControlName="type" id="accountEditFormTypeField"
                       bindLabel="title" bindValue="value">
                <ng-template ng-label-tmp let-item="item">
                    <ng-container
                        [ngTemplateOutlet]="typeItemTemplate" [ngTemplateOutletContext]="{item: item}"
                    ></ng-container>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                    <div [attr.type-option-value]="item.value">
                        <ng-container
                            [ngTemplateOutlet]="typeItemTemplate" [ngTemplateOutletContext]="{item: item}"
                        ></ng-container>
                    </div>
                </ng-template>
            </ng-select>
        </div>
        <div class="form-group required">
            <ng-template #entryUrlItemTemplate let-item="item" let-index="index">
                {{ item.title }}
                <div class="badge badge-secondary" [ngClass]="{'badge-local': isLocalWebClient(item)}">
                    web client:
                </div>
            </ng-template>
            <label>Domain</label>
            <ng-select [items]="entryUrlItems" [clearable]="false" formControlName="entryUrl" id="accountEditFormEntryUrlField"
                       bindLabel="title" bindValue="value">
                <ng-template ng-label-tmp let-item="item" let-index="index">
                    <ng-container
                        [ngTemplateOutlet]="entryUrlItemTemplate" [ngTemplateOutletContext]="{item: item, index: index}"
                    ></ng-container>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index">
                    <div [attr.entry-url-option-index]="index">
                        <ng-container
                            [ngTemplateOutlet]="entryUrlItemTemplate" [ngTemplateOutletContext]="{item: item, index: index}"
                        ></ng-container>
                    </div>
                </ng-template>
            </ng-select>
        </div>
        <div class="row">
            <div class="form-group col-sm-6 required" *ngIf="!account">
                <label>Login</label>
                <input type="text" class="form-control" formControlName="login"
                       [ngClass]="controls.login.dirty ? {'is-invalid': controls.login.invalid, 'is-valid': controls.login.valid} : {}">
            </div>
            <div class="form-group" [ngClass]="{'col-sm-6': !account, 'col-sm-12': account}">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password"
                       [ngClass]="controls.password.dirty ? {'is-invalid': controls.password.invalid, 'is-valid': controls.password.valid} : {}">
            </div>
        </div>
        <div class="form-group">
            <label class="d-block pull-left">
                Two Factor Secret Key
                <i
                    popover="This is not the one time password your phone generates for you but a secret seed. Please follow the description link for details."
                    class="fa fa-info-circle text-warning align-self-center"
                    container="body"
                    placement="bottom"
                    triggers="mouseenter:mouseleave"
                ></i>
            </label>
            <button type="button" class="btn btn-link p-0 d-block pull-right" (click)="open2faEnablingIssue()">description</button>
            <input type="password" class="form-control" formControlName="twoFactorCode"
                   [ngClass]="controls.twoFactorCode.dirty ? {'is-invalid': controls.twoFactorCode.invalid, 'is-valid': controls.twoFactorCode.valid} : {}">
        </div>
        <div class="form-group" *ngIf="controls.type.value == 'protonmail'">
            <label class="d-block pull-left">Mail Password</label>
            <button type="button" class="btn btn-link p-0 d-block pull-right" (click)="openMailPasswordDescription()">description</button>
            <input type="password" class="form-control" formControlName="mailPassword"
                   [ngClass]="controls.mailPassword.dirty ? {'is-invalid': controls.mailPassword.invalid, 'is-valid': controls.mailPassword.valid} : {}">
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <button type="button" class="btn btn-link p-0" (click)="advancedBlockCollapsed = !advancedBlockCollapsed">
                    Advanced
                </button>
            </div>
            <div class="card-body" [collapse]="advancedBlockCollapsed">
                <div class="form-group">
                    <label class="d-block pull-left">
                        Proxy Rules
                        <i
                            popover="Rules indicating which proxies to use."
                            class="fa fa-info-circle text-primary align-self-center"
                            container="body"
                            placement="bottom"
                            triggers="mouseenter:mouseleave"
                        ></i>
                    </label>
                    <button type="button" class="btn btn-link p-0 d-block pull-right" (click)="openProxyDocsPage()"
                            title="session.setProxy(config, callback)">
                        documentation
                    </button>
                    <input type="text" class="form-control" formControlName="proxyRules">
                </div>
                <div>
                    <label class="d-block pull-left">
                        Proxy Bypass Rules
                        <i
                            popover="Rules indicating which URLs should bypass the proxy settings."
                            class="fa fa-info-circle text-primary align-self-center"
                            container="body"
                            placement="bottom"
                            triggers="mouseenter:mouseleave"
                        ></i>
                    </label>
                    <button type="button" class="btn btn-link p-0 d-block pull-right" (click)="openProxyDocsPage()"
                            title="session.setProxy(config, callback)">
                        documentation
                    </button>
                    <input type="text" class="form-control" formControlName="proxyBypassRules">
                </div>
            </div>
        </div>
        <div class="clearfix">
            <button class="btn btn-outline-danger pull-left" type="button" *ngIf="account" (click)="remove()">
                <i class="fa" [ngClass]="{
                    'fa-spinner fa-pulse fa-fw': (removing$ | async),
                    'fa-times': !(removing$ | async)
                }"></i>
                Remove
            </button>
            <button class="btn btn-primary pull-right" type="submit" [disabled]="form.invalid">
                <i class="fa" [ngClass]="{
                    'fa-spinner fa-pulse fa-fw': (processing$ | async),
                    'fa-check': !(processing$ | async)
                }"></i>
                {{ account ? "Update" : "Add" }}
            </button>
        </div>
    </form>
</fieldset>
