<fieldset [disabled]="(processing$ | async) || (removing$ | async)">
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate class="form-group">
        <div class="rounded mb-2">
            <email-securely-app-type-symbol [type]="account.type" *ngIf="account"></email-securely-app-type-symbol>
            <div class="d-inline-block">
                <span *ngIf="account; else label">{{ account.login }}</span>
                <ng-template #label>Add Account</ng-template>
            </div>
            <div class="form-check float-md-right">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" formControlName="database">
                    Local store
                </label>
            </div>
        </div>
        <div class="form-group required" *ngIf="!account">
            <label>Type</label>
            <ng-select [items]="typeValues" [clearable]="false" formControlName="type" id="accountEditFormTypeField">
                <ng-template ng-label-tmp let-item="item">
                    <email-securely-app-type-symbol [type]="item"></email-securely-app-type-symbol>
                    {{ item }}
                </ng-template>
            </ng-select>
        </div>
        <div class="form-group required">
            <label>Domain</label>
            <ng-select [items]="entryUrlItems" [clearable]="false" formControlName="entryUrl" bindLabel="title" bindValue="value"
                       id="accountEditFormEntryUrlField">
            </ng-select>
        </div>
        <div class="row">
            <div class="form-group col-sm-6 required" *ngIf="!account">
                <label>Login</label>
                <input type="text" class="form-control" formControlName="login"
                       [ngClass]="controls.login.dirty ? {'is-invalid': controls.login.invalid, 'is-valid': controls.login.valid} : {}">
            </div>
            <div class="form-group" [ngClass]="{'col-sm-6': !account, 'col-sm-12': account}">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password"
                       [ngClass]="controls.password.dirty ? {'is-invalid': controls.password.invalid, 'is-valid': controls.password.valid} : {}">
            </div>
        </div>
        <div class="form-group">
            <label>Two Factor Secret Key</label>
            <input type="password" class="form-control" formControlName="twoFactorCode"
                   [ngClass]="controls.twoFactorCode.dirty ? {'is-invalid': controls.twoFactorCode.invalid, 'is-valid': controls.twoFactorCode.valid} : {}">
        </div>
        <div class="form-group" *ngIf="controls.type.value == 'protonmail'">
            <label>Mail Password</label>
            <input type="password" class="form-control" formControlName="mailPassword"
                   [ngClass]="controls.mailPassword.dirty ? {'is-invalid': controls.mailPassword.invalid, 'is-valid': controls.mailPassword.valid} : {}">
        </div>
        <div class="clearfix">
            <button class="btn btn-outline-danger pull-left" type="button" *ngIf="account" (click)="remove()">
                <i class="fa" [ngClass]="{
                    'fa-spinner fa-pulse fa-fw': (removing$ | async),
                    'fa-times': !(removing$ | async)
                }"></i>
                Remove
            </button>
            <button class="btn btn-primary pull-right" type="submit" [disabled]="form.invalid">
                <i class="fa" [ngClass]="{
                    'fa-spinner fa-pulse fa-fw': (processing$ | async),
                    'fa-check': !(processing$ | async)
                }"></i>
                {{ account ? "Update" : "Add" }}
            </button>
        </div>
    </form>
    <div *ngIf="account">
        <div>
            <a href="javascript:void(0)" (click)="keePassRefCollapsed = !keePassRefCollapsed">KeePass References</a>
            <i class="fa" [ngClass]="{
                'fa-caret-up': !keePassRefCollapsed,
                'fa-caret-down': keePassRefCollapsed
            }"></i>
        </div>
        <div [collapse]="keePassRefCollapsed">
            <hr>
            <div class="form-group">
                <label>Password</label>
                <email-securely-app-keepass-reference
                    [keePassClientConf$]="keePassClientConf$"
                    [reference$]="passwordKeePassRef$"
                    (linkHandler)="onPasswordKeePassLink($event)"
                    (unlinkHandler)="onPasswordKeePassUnlink()"
                ></email-securely-app-keepass-reference>
            </div>
            <hr>
            <div class="form-group">
                <label>Two Factor Secret Key</label>
                <email-securely-app-keepass-reference
                    [keePassClientConf$]="keePassClientConf$"
                    [reference$]="twoFactorCodeKeePassRef$"
                    (linkHandler)="onTwoFactorCodeKeePassLink($event)"
                    (unlinkHandler)="onTwoFactorCodeKeePassUnlink()"
                ></email-securely-app-keepass-reference>
            </div>
            <div *ngIf="account?.type == 'protonmail'">
                <hr>
                <div class="form-group">
                    <label>Mail Password</label>
                    <email-securely-app-keepass-reference
                        [keePassClientConf$]="keePassClientConf$"
                        [reference$]="mailPasswordKeePassRef$"
                        (linkHandler)="onMailPasswordKeePassLink($event)"
                        (unlinkHandler)="onMailPasswordKeePassUnlink()"
                    ></email-securely-app-keepass-reference>
                </div>
            </div>
        </div>
    </div>
</fieldset>
