<a [routerLink]="['./../account-edit']" class="btn btn-primary mb-3" id="goToAccountsSettingsLink">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Add Account
</a>
<ul class="list-group" [dragula]="reorderingGroup">
    <li class="list-group-item pl-0 pr-3" *ngFor="let account of accounts$ | async" [attr.data-login]="account.login">
        <i class="fa fa-bars drag-hover px-3"></i>
        <email-securely-app-type-symbol [type]="account.type" class="mr-1"></email-securely-app-type-symbol>
        {{ account.login }}
        <a [routerLink]="['./../account-edit', account.login]" class="float-right">
            Edit
        </a>
    </li>
</ul>
<div class="progress mt-3" *ngIf="changingAccountOrder$ | async">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width: 100%">
        Reordering ...
    </div>
</div>
