<fieldset [disabled]="(processing$ | async)">
    <form [formGroup]="form" novalidate class="form-group">
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="closeToTray">
                Close to tray
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="compactLayout">
                Tabs view mode
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="checkForUpdatesAndNotify">
                Automatic update
                <i class="fa fa-info-circle text-primary"
                   [popover]="checkForUpdatesAndNotifyPopoverTemplate" placement="bottom" container="body" triggers="mouseenter:mouseleave"
                ></i>
                <ng-template #checkForUpdatesAndNotifyPopoverTemplate>
                    <code>.AppImage</code> and <code>.exe</code> are only supported installation package formats at this time.
                </ng-template>
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="startMinimized">
                Start minimized to tray
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="unreadNotifications">
                Unread messages desktop notifications
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="findInPage">
                Enable "Find in page / Ctrl+F" feature.
                <span class="badge badge-secondary align-middle">experimental</span>
                <a href="https://github.com/vladimiry/email-securely-app/issues/87" (click)="openFindInPageIssue($event)">#87</a>
            </label>
        </div>
        <hr>
        <div class="form-group">
            <label for="logLevelSelect">Log Level</label>
            <i class="fa fa-info-circle text-warning"
               [popover]="popoverTemplate" placement="bottom" container="body" triggers="mouseenter:mouseleave"
            ></i>
            <ng-template #popoverTemplate>Think twice before selecting a value other than <code>error</code>.</ng-template>
            <select class="form-control" formControlName="logLevel" id="logLevelSelect">
                <option
                    *ngFor="let logLevel of logLevels" [value]="logLevel">{{ logLevel }}
                </option>
            </select>
            <div class="text-muted mt-2">
                Log files located in the <a href (click)="openSettingsFolder($event)">Settings Folder</a>.
            </div>
        </div>
    </form>
</fieldset>
