<fieldset [disabled]="(processing$ | async)">
    <form [formGroup]="form" novalidate class="form-group">
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="closeToTray">
                Close to tray
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="compactLayout">
                Tabs view mode
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="fullTextSearch">
                Full-text search
                <i class="fa fa-info-circle text-warning"
                   *ngIf="fullTextSearchDisabled$ | async"
                   [popover]="fullTextSearchPopoverTemplate" placement="bottom" container="body" triggers="mouseenter:mouseleave"
                ></i>
                <ng-template #fullTextSearchPopoverTemplate>
                    This feature works together with <code>local store</code> feature which you can enable per account.
                </ng-template>
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="checkForUpdatesAndNotify">
                Automatic update
                <i class="fa fa-info-circle text-primary"
                   [popover]="checkForUpdatesAndNotifyPopoverTemplate" placement="bottom" container="body" triggers="mouseenter:mouseleave"
                ></i>
                <ng-template #checkForUpdatesAndNotifyPopoverTemplate>
                    <code>.AppImage</code> and <code>.exe</code> are only supported installation package formats at this time.
                </ng-template>
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="startMinimized">
                Start minimized to tray
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="findInPage">
                Find in page (Ctrl+F)
                <i class="fa fa-info-circle text-primary"
                   [popover]="findInPagePopoverTemplate" placement="bottom" container="body" triggers="mouseenter:mouseleave"
                ></i>
                <ng-template #findInPagePopoverTemplate>
                    <ul class="pl-3 m-0">
                        <li>
                            The in page search is only available within accounts page. So if you have no accounts added to the app then
                            Ctrl+F hotkey will take no effect.
                        </li>
                        <li>
                            The search window will be automatically closed on switching between accounts.
                        </li>
                        <li>
                            Search window will be automatically closed on switching to the database view mode. Ctrl+F hotkey takes no effect
                            while in database view mode.
                        </li>
                    </ul>
                </ng-template>
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="disableSpamNotifications">
                Disable notifications on spam folders
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="unreadNotifications">
                Desktop notifications for unread messages
            </label>
        </div>
        <hr>
        <div class="form-group">
            <label for="logLevelSelect">Log Level</label>
            <i class="fa fa-info-circle text-warning"
               [popover]="popoverTemplate" placement="bottom" container="body" triggers="mouseenter:mouseleave"
            ></i>
            <ng-template #popoverTemplate>Think twice before selecting a value other than <code>error</code>.</ng-template>
            <select class="form-control" formControlName="logLevel" id="logLevelSelect">
                <option
                    *ngFor="let logLevel of logLevels" [value]="logLevel">{{ logLevel }}
                </option>
            </select>
            <div class="text-muted mt-2">
                Log files located in the <a href (click)="openSettingsFolder($event)">Settings Folder</a>.
            </div>
        </div>
    </form>
</fieldset>
