<div class="d-flex justify-content-center">
    <form (ngSubmit)="submit()" [formGroup]="form" novalidate>
        <h2>Log in</h2>
        <fieldset [disabled]="processing$ | async" class="form-group">
            <div class="form-group">
                <input
                    #passwordRef
                    [ngClass]="password.dirty ? {'is-invalid': password.invalid, 'is-valid': password.valid} : {}"
                    autocapitalize="off"
                    autocorrect="off"
                    class="form-control form-control-lg"
                    formControlName="password"
                    id="loginFormPasswordControl"
                    placeholder="Password"
                    spellcheck="off"
                    type="password"
                >
            </div>
            <button [disabled]="form.invalid" class="btn btn-primary btn-lg btn-block" type="submit">
                <i *ngIf="processing$ | async" class="fa fa-spinner fa-pulse fa-fw"></i>
                Submit
            </button>
            <div class="form-check text-right">
                <label class="form-check-label">
                    <input class="form-check-input" formControlName="savePassword" type="checkbox">
                    <ng-container *ngIf="keytarSupport$ | async; else keytarUnsupportedTemplate">
                        Keep me signed in
                        <i
                            *ngIf="savePassword.value" [popover]="popTemplate"
                            class="fa fa-info-circle text-danger" container="body" placement="bottom" triggers="mouseenter:mouseleave"
                        ></i>
                        <ng-template #popTemplate>
                            Choosing <code>Keep me signed in</code> option enables saving the master password on your computer. It weakens
                            the security.
                        </ng-template>
                    </ng-container>
                    <ng-template #keytarUnsupportedTemplate>
                        <code>Keep me signed in</code> feature is unsupported by the system,
                        <a (click)="toggleKeytarUnsupportedDetails($event)" href>toggle details</a>.
                        <div [collapse]="!keytarUnsupportedDetails" class="text-left">
                            <ul>
                                <li>
                                    See log file in
                                    <a (click)="openSettingsFolder($event)" href>settings folder</a>
                                    for details.
                                </li>
                                <li *ngIf="snapPasswordManagerServiceHint$ | async">
                                    Try executing <code>sudo snap connect {{ appName }}:password-manager-service</code>
                                    <br>
                                    and restart the app.
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                </label>
            </div>
        </fieldset>
    </form>
</div>
