<div class="d-flex">
    <div class="card" *ngIf="copyV2App$ | async; let copyV2App;">
        <div class="card-header text-center">
            Would you like the app to pick up <strong>email-securely-app</strong> settings?
        </div>
        <div class="card-body">
            <ul>
                <li *ngFor="let itemKey of copyV2App.itemsKeys" [ngClass]="{'skip': copyV2App.data.items[itemKey].skip}">
                    <div class="badge">{{ copyV2App.data.items[itemKey].skip ? "skip" : "copy" }}</div>
                    <code>{{ copyV2App.data.items[itemKey].src }}</code>
                    <i class="fa fa-long-arrow-right"></i>
                    <code>{{ copyV2App.data.items[itemKey].dest }}</code>
                    <ng-container *ngIf="copyV2App.data.items[itemKey].skip">
                        <span>({{ copyV2App.data.items[itemKey].skip }})</span>
                    </ng-container>
                    <ng-container *ngIf="copyV2App.data.items[itemKey].override && !copyV2App.data.items[itemKey].skip">
                        <span>(override)</span>
                    </ng-container>
                </li>
            </ul>
            <p *ngIf="copyV2App.data.v2SnapDeniedRead">
                Looks like the app is unable to read the <strong>email-securely-app</strong> settings. So consider copying the above listed
                files manually and restart the app then or simply click the <strong>skip</strong> button to start with fresh settings.
            </p>
            <p class="m-0">
                By the way, the recommended way of removing the app is described in the
                <button type="button" class="btn btn-link p-0" (click)="openProjectReadme()">readme</button>
                file (scroll down the page).
            </p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary pull-left" (click)="continue()">
                Skip
            </button>
            <button
                type="button" class="btn btn-primary pull-right" [disabled]="migrating$ | async" (click)="migrate()"
                *ngIf="!copyV2App.data.v2SnapDeniedRead; else quitButtonTemplate"
            >
                <i *ngIf="migrating$ | async" class="fa fa-spinner fa-pulse fa-fw"></i>
                Yes
            </button>
            <ng-template #quitButtonTemplate>
                <button type="button" class="btn btn-danger pull-right" (click)="quit()">
                    Quit
                </button>
            </ng-template>
        </div>
    </div>
</div>
