<div class="d-flex justify-content-center">
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
        <h2>Master Password Setup</h2>
        <fieldset [disabled]="signingIn$ | async">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="password" class="form-control form-control-lg" formControlName="password" #passwordRef
                           placeholder="Password"
                           [ngClass]="password.dirty ? {
                               'is-invalid': password.invalid,
                               'is-valid': password.valid
                           } : {}">
                </div>
                <div class="form-group col-md-6">
                    <input type="password" class="form-control form-control-lg" formControlName="passwordConfirm"
                           placeholder="Password Confirm"
                           [ngClass]="passwordConfirm.dirty ? {
                               'is-invalid': passwordConfirm.invalid,
                               'is-valid': passwordConfirm.valid
                           } : {}">
                    <div class="invalid-feedback" *ngIf="passwordConfirm.invalid && passwordConfirm.errors?.mismatch">
                        Passwords don't match.
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="form.invalid">
                <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="signingIn$ | async"></i>
                Submit
            </button>
            <!--
            TODO move below "Keep me signed in" related logic to separate component
            -->
            <div class="form-check text-right">
                <label class="form-check-label">
                    <input class="form-check-input" formControlName="savePassword" type="checkbox">
                    <ng-container *ngIf="keytarSupport$ | async; else keytarUnsupportedTemplate">
                        Keep me signed in
                        <i
                            *ngIf="savePassword.value" [popover]="popTemplate"
                            class="fa fa-info-circle text-danger" container="body" placement="bottom" triggers="mouseenter:mouseleave"
                        ></i>
                        <ng-template #popTemplate>
                            Choosing <code>Keep me signed in</code> option enables saving the master password on your computer. It weakens
                            the security.
                        </ng-template>
                    </ng-container>
                    <ng-template #keytarUnsupportedTemplate>
                        <code>Keep me signed in</code> feature is unsupported by the system,
                        <a (click)="toggleKeytarUnsupportedDetails($event)" href>toggle details</a>.
                        <div [collapse]="!keytarUnsupportedDetails" class="text-left">
                            <ul>
                                <li>
                                    See log file in
                                    <a (click)="openSettingsFolder($event)" href>settings folder</a>
                                    for details.
                                </li>
                                <li *ngIf="snapPasswordManagerServiceHint$ | async">
                                    Try executing <code>sudo snap connect {{ appName }}:password-manager-service</code>
                                    <br>
                                    and restart the app.
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                </label>
            </div>
        </fieldset>
    </form>
</div>
