@import "src/web/variables";
@import "src/web/browser-window/app/_db-view/lib";

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .controls {
        .dropdown-menu {
            @include font-size($input-font-size-sm);
        }
    }

    .load-more {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #{$app-prefix}-db-view-mail {
        @include app-db-view-selectable-mail;
    }
}
