@import "~src/web/variables";
@import "~src/web/browser-window/app/_db-view/lib";

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .controls {
        .dropdown-menu {
            @include font-size($input-font-size-sm);
        }

        .title {
            @include app-db-view-badge-padding-radius;
            display: flex;
            align-self: center;
            color: $app-db-view-color-text-mail;
            font-size: $app-font-size-base-small;
        }

        select {
            @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
            @include button-variant(theme-color("secondary-light"), theme-color("secondary-light"));
            display: flex;
            align-self: center;
            height: auto;
        }
    }

    .load-more {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #{$app-prefix}-db-view-mail {
        @include app-db-view-selectable-mail;
    }
}
