<div
    *ngIf="(items$ | async) as items"
    class="controls d-flex align-items-center flex-shrink-0 mb-2"
>
    <div class="d-flex flex-grow-1">
        <button
            (click)="makeAllRead()"
            [disabled]="(makeAllReadButtonLocked$ | async) || false"
            class="btn btn-sm btn-primary mr-2"
            style="white-space: nowrap"
        >
            Make all read
            <span *ngIf="unreadCount$ | async; let unreadCount;">({{ unreadCount }})</span>
            <i *ngIf="makeAllReadInProgress$ | async" class="fa fa-spinner fa-pulse fa-fw ml-2"></i>
        </button>
        <ng-content select="[controls]"></ng-content>
        <div class="badge">
            {{ title$ | async }}<span *ngIf="items.length">: {{ (paging$ | async)?.end }} of {{ items.length }}</span>
        </div>
    </div>
    <div class="d-flex">
        <electron-mail-db-view-mails-export
            *ngIf="items.length"
            [dbAccountPk]="dbAccountPk"
            [mailsBundleItems]="items"
            [title]="'Export (' + items.length + ')'"
        ></electron-mail-db-view-mails-export>
        <select
            #sortSelect
            (change)="sortChange(sortSelect.value)"
            *ngIf="sorting$ | async; let sorting;"
            class="form-control form-control-sm ml-2"
        >
            <option
                *ngFor="let sorter of sorting.sorters; index as i;"
                [selected]="i == sorting.sorterIndex"
                [value]="i"
            >
                {{ sorter.title }}
            </option>
        </select>
    </div>
</div>
<div
    class="overflow-auto"
    *ngIf="items$ | async; let items;"
>
    <!-- TODO consider using "virtual list", ie render only visible data -->
    <electron-mail-db-view-mail
        *ngFor="let item of items.slice(0, (paging$ | async)?.end); trackBy: trackByMailBundleItem"
        [attr.data-pk]="item.mail.pk"
        [mail]="item.mail"
        [conversationSize]="item.conversationSize"
    ></electron-mail-db-view-mail>
    <button
        (click)="loadMore()"
        *ngIf="(paging$ | async)?.nextPageSize; let nextPageSize;"
        class="btn btn-secondary-light load-more my-3"
    >
        More
        <small>(+{{ nextPageSize }})</small>
    </button>
</div>
