@use "src/web/browser-window/lib" as lib;
@import "src/web/variables";

:host {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    form {
        > .d-flex:nth-of-type(1) {
            align-self: flex-start;
        }
    }

    .btn-warning-light {
        @include lib.app-btn-warning-light-active();
    }

    .custom-switch {
        @include font-size($input-font-size-sm);

        label {
            padding-top: 1.5px;
        }
    }

    fieldset {
        &:not([disabled]) {
            .fa-spinner {
                display: none;
            }
        }

        &[disabled] {
            .fa-search {
                display: none;
            }
        }
    }
}
