@import "~src/web/variables";

:host {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    fieldset {
        &:not([disabled]) {
            .fa-spinner {
                display: none;
            }
        }

        &[disabled] {
            .fa-search {
                display: none;
            }
        }
    }
}
