@import "~src/web/variables";

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .controls {
        .badge {
            @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
            display: flex;
            align-self: center;
            font-weight: normal;
            border: 1px solid $app-db-view-color-border;
        }

        select {
            @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
            @include button-variant(theme-color("secondary-light"), theme-color("secondary-light"));
            display: flex;
            align-self: center;
            height: auto;
        }
    }

    #{$app-prefix}-db-view-mail {
        cursor: pointer;

        &:not(:last-of-type) {
            &:not(.selected) {
                border-bottom-width: 0;
            }
        }

        &.selected {
            background-color: map_get($app-account-title-btn-colors, "selected-bg");
            border-color: map_get($app-account-title-btn-colors, "selected-border");

            + #{$app-prefix}-db-view-mail {
                border-top-width: 0;
            }
        }
    }

    .load-more {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
