@import "src/web/variables";

:host {
    display: flex;
    height: 100%;
    background-color: $app-db-view-color-bg-body;

    #{$app-prefix}-db-view-mail-tab {
        flex-grow: 1;
        padding-top: $app-spacer-2;
        padding-left: $app-spacer-2;
    }

    &::ng-deep {
        .prevent-default-event {
            text-decoration: none;
        }
    }
}
