@import "src/web/variables";
@import "src/web/browser-window/app/_db-view/lib";

:host {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 $app-spacer-2 $app-spacer-2;
    border: 1px solid $app-db-view-color-border;
    background-color: $app-db-view-color-bg-body;

    .addresses,
    .attachments {
        .badge {
            font-weight: normal;
            font-size: $app-font-size-base-medium;
            color: $gray-700;
            border: 1px solid $app-db-view-color-border;
        }
    }

    .addresses {
        border-bottom: 1px solid $app-db-view-color-border;

        .badge {
            .address:not(:last-of-type)::after {
                content: ",";
                margin-right: $app-spacer-1;
            }
        }
    }

    .body-container {
        position: relative;

        &::ng-deep {
            iframe {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }

    .attachments {
        border-top: 1px solid $app-db-view-color-border;
    }

    .controls {
        padding: 0 $btn-padding-x ($btn-padding-y * 2) 0;
        justify-content: center;

        &::ng-deep {
            .btn {
                border-top-width: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }

    .root-node-container {
        max-height: 200px;
        overflow-y: auto !important;
        display: flex;
    }

    #{$app-prefix}-db-view-mail {
        @include app-db-view-selectable-mail;
    }
}
