@import "~~src/web/variables";

:host {
    $state-sent: #07bb9c;
    $state-received: $app-color-purple-light;
    $state-draft: #feb06a;
    $border-color: $list-group-border-color;
    $padding-y: $list-group-item-padding-y * 0.5;
    $padding-x: $list-group-item-padding-x * 0.5;

    display: flex;
    flex-direction: column;
    padding: $padding-y $padding-x;
    border: 1px solid $border-color;
    border-left: 2px solid transparent;
    background-color: $white;

    .r {
        display: flex;
    }

    .c-auto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 auto;
    }

    .c-stretch {
        display: flex;
        flex: 1 1 auto;
        overflow: hidden;

        .ellipsis {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &.unread-1 {
        .subject {
            font-weight: bold;
        }
    }

    &.state- {
        &inbox_and_sent { // sass-lint:disable-line class-name-format
            border-left-color: $state-received;
            position: relative;

            &::before {
                display: block;
                content: "";
                position: absolute;
                left: 0;
                width: 2px;
                top: 0;
                bottom: 0;
                background-color: $state-sent;
            }

            .state {
                background-color: $state-received;

                &::after {
                    content: "Y";
                }
            }
        }

        &sent {
            border-left-color: $state-sent;

            .state {
                background-color: $state-sent;

                &::after {
                    content: "S";
                }
            }
        }

        &received {
            border-left-color: $state-received;

            .state {
                background-color: $state-received;

                &::after {
                    content: "R";
                }
            }
        }

        &draft {
            border-left-color: $state-draft;

            .state {
                background-color: $state-draft;

                &::after {
                    content: "D";
                }
            }
        }
    }

    .badge {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        font-weight: normal;
    }

    .fa {
        font-size: 85%;
        line-height: 1.8;
    }

    .state,
    .folders,
    .address,
    .date,
    .score {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;

        &,
        .badge {
            font-weight: normal;
            font-size: $app-font-size-base-small;
            color: $gray-700;
        }
    }

    .address,
    .date,
    .score {
        border: 1px solid $border-color;
    }

    .state {
        text-transform: uppercase;
        color: $white;
        font-size: $app-font-size-base-small * 0.9;
    }

    .subject {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .folders {
        .badge {
            background-color: $gray-300;
            border: 1px solid darken($gray-300, 10%);
        }
    }
}
