@import "~src/web/variables";

:host {
    $state-line-sent: $app-color-primary-light;
    $state-line-received: $app-color-purple-light;
    $state-line-draft: #febe5e;
    $state-line-with: 4px;
    $state-line-margin: 3px;

    background-color: $app-db-view-color-bg-mail;
    border: 1px solid $list-group-border-color;
    display: flex;
    flex-direction: column;
    padding: $app-db-view-mail-padding-y $app-db-view-mail-padding-x;
    position: relative;
    color: $app-db-view-color-text-mail;

    .r {
        display: flex;
    }

    .c-auto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 auto;
    }

    .c-stretch {
        display: flex;
        flex: 1 1 auto;
        overflow: hidden;

        .ellipsis {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &.unread-1 {
        .subject {
            font-weight: bold;
        }
    }

    &::before {
        display: block;
        content: "";
        position: absolute;
        left: $state-line-margin;
        width: $state-line-with;
        top: $state-line-margin;
        bottom: $state-line-margin;
        background-color: transparent;
    }

    &.state- {
        &protonmail_inbox_and_sent { // sass-lint:disable-line class-name-format
            &::before {
                background-color: $state-line-sent;
                width: ($state-line-with / 2);
            }

            &::after {
                display: block;
                content: "";
                position: absolute;
                left: $state-line-margin + ($state-line-with / 2);
                width: ($state-line-with / 2);
                top: $state-line-margin;
                bottom: $state-line-margin;
                background-color: $state-line-received;
            }
        }

        &sent {
            &::before {
                background-color: $state-line-sent;
            }
        }

        &received {
            &::before {
                background-color: $state-line-received;
            }
        }

        &draft {
            &::before {
                background-color: $state-line-draft;
            }
        }
    }

    .fa {
        font-size: 85%;
        align-self: center;

        &.fa-lock {
            color: $app-color-primary-light;
        }
    }

    .conversation-size,
    .address,
    .score,
    .folders,
    .date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        font-size: $app-font-size-base-small;
        color: $app-db-view-color-text-mail;
    }

    .b {
        border: 1px solid lighten($app-db-view-color-bg-mail, 10%);
        padding: ($badge-padding-y * 0.5) $badge-padding-x;
        border-radius: $badge-border-radius;
    }

    .badges-1 {
        padding-left: ($state-line-margin + $state-line-with);
    }

    .subject {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
}
