@import "~src/web/variables";

:host {
    display: flex;
    white-space: nowrap;

    #{$app-prefix}-unread-badge {
        font-size: $app-font-size-base-small;
    }

    .fa {
        line-height: inherit;

        &::before {
            // default/"unread" icon
            content: $fa-var-bell;
        }
    }

    .type {
        &-0 { // custom
            .fa::before {
                content: $fa-var-tag;
            }

            &.folder-true {
                .fa::before {
                    content: $fa-var-folder;
                }
            }
        }

        &-1 {
            .fa::before {
                content: $fa-var-inbox;
            }
        }

        &-2 {
            .fa::before {
                content: $fa-var-paper-plane-o;
            }
        }

        &-3 {
            .fa::before {
                content: $fa-var-trash-o;
            }
        }

        &-4 {
            .fa::before {
                content: $fa-var-archive;
                font-size: 87%;
            }
        }

        &-5 {
            .fa::before {
                content: $fa-var-ban;
            }
        }

        &-6 {
            .fa::before {
                content: $fa-var-pencil-square-o;
            }
        }

        &-STARRED {
            .fa::before {
                content: $fa-var-star;
            }
        }

        &-ALL {
            .fa::before {
                content: $fa-var-globe;
            }
        }
    }
}
