@import "~src/web/variables";

:host {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .btn-warning-light {
        $bg: map_get($app-account-title-btn-colors, "selected-bg");
        $border: map_get($app-account-title-btn-colors, "selected-border");
        // second pair of bg/border passed to suppress "hover" state
        // third pair of bg/border passed to suppress "active" state
        @include button-variant($bg, $border, $bg, $border, $bg, $border);
    }

    .custom-switch {
        @include font-size($input-font-size-sm);

        label {
            padding-top: 1.5px;
        }
    }

    fieldset {
        &:not([disabled]) {
            .fa-spinner {
                display: none;
            }
        }

        &[disabled] {
            .fa-search {
                display: none;
            }
        }
    }
}
