@import "src/web/variables";

@mixin app-db-view-selectable-mail($selected-class: "selected") {
    cursor: pointer;

    &:not(:last-of-type) {
        &:not(.#{$selected-class}) {
            border-bottom-width: 0;
        }
    }

    &.#{$selected-class} {
        background-color: map_get($app-account-title-btn-colors, "selected-bg");

        &,
        ::ng-deep .b {
            border-color: map_get($app-account-title-btn-colors, "selected-border");
        }

        ::ng-deep {
            &,
            .conversation-size,
            .b {
                color: map_get($app-account-title-btn-colors, "selected-text");
            }
        }

        + #{$app-prefix}-db-view-mail {
            border-top-width: 0;
        }
    }
}
