@import "~src/web/variables";

@mixin selectable-mail($selected-class: "selected") {
    cursor: pointer;

    &:not(:last-of-type) {
        &:not(.#{$selected-class}) {
            border-bottom-width: 0;
        }
    }

    &.#{$selected-class} {
        background-color: map_get($app-account-title-btn-colors, "selected-bg");

        &,
        ::ng-deep .b {
            border-color: map_get($app-account-title-btn-colors, "selected-border");
            color: $app-color-warning-light-text;
        }

        + #{$app-prefix}-db-view-mail {
            border-top-width: 0;
        }
    }
}
