@import "~src/web/variables";

@mixin app-db-view-badge-padding-radius {
    border-radius: $badge-border-radius;
    border: 1px solid $app-db-view-color-border;
    padding: ($badge-padding-y * 0.5) $badge-padding-x;
}

@mixin app-db-view-selectable-mail($selected-class: "selected") {
    cursor: pointer;

    &:not(:last-of-type) {
        &:not(.#{$selected-class}) {
            border-bottom-width: 0;
        }
    }

    &.#{$selected-class} {
        background-color: map_get($app-account-title-btn-colors, "selected-bg");

        &,
        ::ng-deep .b {
            border-color: map_get($app-account-title-btn-colors, "selected-border");
        }

        ::ng-deep {
            &,
            .conversation-size,
            .b {
                color: $app-color-warning-light-text;
            }
        }

        + #{$app-prefix}-db-view-mail {
            border-top-width: 0;
        }
    }
}
