{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "overrides": [
        {
            "files": [
                "*.ts"
            ],
            "plugins": [
                "import",
                "@typescript-eslint",
                "sonarjs"
            ],
            "extends": [
                "eslint:recommended",
                "plugin:import/errors",
                "plugin:import/warnings",
                "plugin:sonarjs/recommended",
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking"
            ],
            "rules": {
                "max-len": [
                    "error",
                    {
                        "code": 140
                    }
                ],
                "no-console": "error",
                "no-else-return": "error",
                "no-lonely-if": "error",
                "no-return-await": "error",
                "no-unused-expressions": "error",
                "no-useless-return": "error",
                "no-restricted-imports": [
                    "error",
                    {
                        "patterns": [
                            "rxjs/*",
                            "!rxjs/operators"
                        ]
                    }
                ],
                "prefer-destructuring": "error",
                "semi": "error",
                "import/no-unresolved": "off",
                "import/no-relative-parent-imports": "error",
                "sonarjs/prefer-immediate-return": "off",
                "sonarjs/cognitive-complexity": "off",
                "sonarjs/no-duplicate-string": "off",
                "@typescript-eslint/no-floating-promises": "error",
                "@typescript-eslint/no-unsafe-return": "error",
                "@typescript-eslint/promise-function-async": "error",
                "@typescript-eslint/require-await": "off",
                "@typescript-eslint/no-misused-promises": [
                    "error",
                    {
                        "checksVoidReturn": false
                    }
                ],
                "@typescript-eslint/explicit-function-return-type": [
                    "warn",
                    {
                        "allowExpressions": true
                    }
                ],
                "@typescript-eslint/ban-types": [
                    "error",
                    {
                        "types": {
                            "Omit": "TS: prefer `StrictOmit` to built-in `Omit` type"
                        }
                    }
                ]
            }
        },
        {
            "extends": [
                "plugin:@angular-eslint/recommended"
            ],
            "files": [
                "./src/web/browser-window/**/*.ts"
            ],
            "rules": {
                "quotes": [
                    2,
                    "double",
                    {
                        "allowTemplateLiterals": true
                    }
                ],
                "@typescript-eslint/member-ordering": "off",
                "@angular-eslint/directive-selector": [
                    "error",
                    {
                        "type": "attribute",
                        "prefix": "electron-mail",
                        "style": "camelCase"
                    }
                ],
                "@angular-eslint/component-selector": [
                    "error",
                    {
                        "type": "element",
                        "prefix": "electron-mail",
                        "style": "kebab-case"
                    }
                ]
            }
        },
        {
            "files": [
                "./src/web/browser-window/**/*.component.html"
            ],
            "parser": "@angular-eslint/template-parser",
            "plugins": [
                "@angular-eslint/template"
            ],
            "rules": {
                "@angular-eslint/template/banana-in-a-box": "error",
                "@angular-eslint/template/cyclomatic-complexity": "error",
                "@angular-eslint/template/no-call-expression": "error",
                "@angular-eslint/template/no-negated-async": "error",
                "@angular-eslint/template/i18n": [
                    "error",
                    {
                        "checkId": false,
                        "checkText": true,
                        "checkAttributes": true,
                        "ignoreAttributes": [
                            "field",
                            "identifier"
                        ]
                    }
                ]
            }
        }
    ]
}
