# IDE Idea
/.idea
*.iml

# Visual Studio Code IDE
/.vscode

# node modules stuff
node_modules
npm-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log

# generated code
/src/electron-main/window/about.json

/app/
/app-dev/
/build/
/dist/
/output/
/scripts/electron-builder/**/*.cjs
/yarn-audit-issues
