# IDE Idea
/.idea
*.iml

# Visual Studio Code IDE
/.vscode

# Node.js
node_modules
npm-debug.log
yarn-error.log
package-lock.json

# generated code
/src/electron-main/window/about.json

/app/
/app-dev/
/build/
/dist/
/output/
/scripts/electron-builder/**/*.js
/yarn-audit-issues
