# IDE Idea
/.idea
*.iml

# node modules stuff
.pnpm-debug.log
/node_modules/
/test-results/
npm-debug.log
package-lock.json
yarn-error.log

# generated code
/src/electron-main/window/about.json

# Angular
/.angular/cache/

/app/
/app-dev/
/dist/
/output/
/scripts/electron-builder/**/*.cjs
