# https://docs.travis-ci.com/user/customizing-the-build/

branches:
  only:
    - master
    - 2.0.0
language: node_js
node_js: 10
addons:
  firefox: latest
matrix:
  include:
    - os: osx
      osx_image: xcode9.0
    - os: linux
      sudo: required
      dist: trusty
      group: stable
      addons:
        apt:
          packages:
            - gnome-keyring
            - libgnome-keyring-dev
            - libsecret-1-dev
            - python-gnomekeyring
            - nasm
      services:
        - docker
env:
  global:
    - CI=true
    - NO_AT_BRIDGE=1
    - ELECTRON_CACHE=$HOME/.cache/electron
    - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder
    - FAILURE_ARCHIVE_FILE=travis-build-id-$TRAVIS_BUILD_ID.tar.gz
    - MOZ_HEADLESS=1
cache: false
install:
  - yarn --pure-lockfile install
  - yarn generate-npm-lockfile
  - npm audit
before_script:
  - |
    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      export DISPLAY=:99.0; sh -e /etc/init.d/xvfb start; sleep 3;
      eval $(dbus-launch --sh-syntax);
      eval $(echo -n "" | /usr/bin/gnome-keyring-daemon --login);
      eval $(/usr/bin/gnome-keyring-daemon --components=secrets --start);
      /usr/bin/python -c "import gnomekeyring;gnomekeyring.create_sync('login', '');";
    fi
script: ./scripts/travis.sh
notifications:
  email:
    on_success: never
    on_failure: change
