<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="p-3">
<div class="about-block">
    <img src="<%= require("src/web/constants").ICON_URL %>" alt="Logo icon">
    #MAIN_PROCESS_INJECTION_POINTCUT#
    <ul class="list-links list-unstyled d-flex flex-row w-100">
        <li>
            <a href="https://github.com/vladimiry/ElectronMail">Repository</a>
        </li>
        <li>
            <a href="https://github.com/vladimiry/ElectronMail/releases">Releases</a>
        </li>
        <li>
            <a href="https://github.com/vladimiry/ElectronMail/issues/new">Report an issue</a>
        </li>
    </ul>
</div>
</body>
</html>
