@import "src/web/variables";

body,
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: ($app-spacer-1 * 10) ($app-spacer-1 * 5);
}

ul {
    margin: 0;
}

.list-versions {
    color: $gray-600;
    font-size: $app-font-size-base-medium;
}

.list-links {
    flex-grow: 1;
    align-items: flex-end;

    > li {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
    }
}

p,
h1 {
    margin-bottom: $app-spacer-2;
    text-align: center;
}

img {
    width: 128px;
    height: 128px;
}
