@import "~src/web/src/variables";

:host {
    position: relative;

    > .info {
        position: absolute;
        left: 1em;
        right: 1em;
        top: 1em;
        z-index: 30000;
        text-align: center;
    }

    > .m-3 {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 1000;
    }
}
