<div
    *ngIf="state$ | async; let state"
    [ngClass]="{'selected': state.selected, 'login-filled-once': state.account.loginFilledOnce}"
    class="btn-group"
>
    <a class="btn b-primary" href="mailto:{{ state.account.accountConfig.login }}">
        <electron-mail-type-symbol [type]="state.account.accountConfig.type"></electron-mail-type-symbol>
        <electron-mail-unread-badge
            *ngIf="state.account.notifications.unread"
            [value]="state.account.notifications.unread"
            class="ml-2"
        ></electron-mail-unread-badge>
        <div class="d-flex ml-2">
            <i [class]="state.account.notifications.loggedIn ? 'fa fa-unlock' : 'fa fa-lock'"></i>
        </div>
        <div class="ml-2 d-flex flex-grow-1">{{ state.account.accountConfig.login }}</div>
    </a>
    <button (click)="toggleViewMode($event)" *ngIf="state.stored" class="btn b-toggle-view" title="Toggle online/database view mode">
        <i
            [ngClass]="{
                'syncing': state.account.progress.syncing,
                'fa-database': state.account.databaseView,
                'fa-plug': !state.account.databaseView
            }"
            class="fa"
        ></i>
    </button>
</div>
