@import "~src/web/src/variables";

:host {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $gray-200;

    &.webview-hidden-offline,
    &.webview-hidden-database {
        webview {
            height: 0;
        }
    }

    &.webview-hidden-database {
        .network-unreachable-msg {
            display: none;
        }
    }

    &::ng-deep #{$app-prefix}-keepass-request {
        margin: $app-spacer-2;
    }

    > webview {
        flex: 1;
        height: 100%;
    }
}
