@import "~src/web/src/variables";

@mixin button($color) {
    @include button-variant($color, $color);

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

:host {
    display: flex;
    padding: 0;

    .btn-group {
        display: flex;
        flex-grow: 1;

        &:not(.selected) {
            .btn {
                @include button(theme-color("light"));
            }
        }

        &.selected {
            .btn {
                @include button(theme-color("warning-light"));
                color: theme-color-level("warning", 6);
            }
        }

        > .btn:first-child {
            flex-grow: 1;
        }
    }

    a {
        display: flex;
        flex-grow: 1;
        text-decoration: none;
        padding: $list-group-item-padding-y $list-group-item-padding-x;
    }

    button {
        padding: $list-group-item-padding-y $list-group-item-padding-x * 0.7;

        .fa {
            font-size: 78%;

            &.syncing {
                color: theme-color("primary");
            }
        }
    }

    .btn {
        padding-top: $list-group-item-padding-y;
        padding-bottom: $list-group-item-padding-y;
    }

    .fa {
        line-height: 1.5;
    }

    .badge {
        padding: 0.38em 0.55em;
    }
}
