<!-- TODO disable "remote" module on https://github.com/electron/electron/issues/15112 resolving -->
<webview
    #webViewRef
    *ngIf="webViewAttributes"
    [src]="webViewAttributes.src"
    [preload]="webViewAttributes.preload"
></webview>

<div *ngIf="webViewAttributes && !!afterFailedLoadWait" class="network-unreachable-msg p-3 text-center">
    Failed to load <strong>{{ webViewAttributes.src }}</strong> page with <strong>{{ didFailLoadErrorDescription }}</strong> error code.
    Reloading in <strong>{{ afterFailedLoadWait }}</strong> sec.
</div>

<ng-container #dbViewContainer></ng-container>
