@import "~src/web/src/variables";

@mixin button($color) {
    @include button-variant($color, $color);

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

:host {
    $btn-default-color: theme-color("light");
    $btn-selected-color: $app-color-warning-light-text;
    $btn-selected-bg-color: theme-color("warning-light");

    display: flex;
    padding: 0;

    &::ng-deep #{$app-prefix}-type-symbol {
        display: flex;
        flex-direction: column;
    }

    .btn-group {
        display: flex;
        flex-grow: 1;

        &:not(.selected) {
            .btn {
                @include button($btn-default-color);
            }

            .b-toggle-view {
                border-left: 1px solid darken($btn-default-color, 10%);
            }
        }

        &.selected {
            .btn {
                @include button($btn-selected-bg-color);
                color: $btn-selected-color;
            }

            .b-toggle-view {
                border-left: 1px solid lighten(#cdb671, 16%);
            }
        }

        > .btn:first-child {
            flex-grow: 1;
        }
    }

    .b-primary {
        display: flex;
        flex-grow: 1;
        text-decoration: none;
    }

    .b-toggle-view {
        @include app-dropdown-toggle-split;
        margin-left: 0;

        .fa {
            font-size: 78%;
            width: 0.78em; // prevent button size change on icon toggling

            &.syncing {
                color: theme-color("primary");
            }
        }
    }

    .fa {
        line-height: $line-height-base;
    }

    .badge {
        @include app-unread-badge;
    }
}
