<div *ngIf="account$ | async; let account">
    <email-securely-app-keepass-request
        *ngIf="account.notifications.pageType.type == 'login'"
        [keePassRef$]="passwordKeePassRef$"
        [keePassClientConf$]="keePassClientConf$"
        (passwordHandler)="onKeePassPassword($event)"
    ></email-securely-app-keepass-request>

    <email-securely-app-keepass-request
        *ngIf="account.notifications.pageType.type == 'login2fa'"
        [keePassRef$]="twoFactorCodeKeePassRef$"
        [keePassClientConf$]="keePassClientConf$"
        (passwordHandler)="onKeePassPassword($event)"
    ></email-securely-app-keepass-request>

    <email-securely-app-keepass-request
        *ngIf="account.notifications.pageType.type == 'unlock' && account.accountConfig.type == 'protonmail'"
        [keePassRef$]="mailPasswordKeePassRef$"
        [keePassClientConf$]="keePassClientConf$"
        (passwordHandler)="onKeePassPassword($event)"
    ></email-securely-app-keepass-request>
</div>

<webview
    #webViewRef
    *ngIf="webViewAttributes"
    [src]="webViewAttributes.src"
    [preload]="webViewAttributes.preload"
></webview>

<div *ngIf="webViewAttributes && !!afterFailedLoadWait" class="p-3 text-center">
    Failed to load <strong>{{ webViewAttributes.src }}</strong> page with <strong>{{ didFailLoadErrorDescription }}</strong> error code.
    Reloading in <strong>{{ afterFailedLoadWait }}</strong> sec.
</div>

<ng-container #dbViewContainer></ng-container>
