@import "~src/web/src/variables";

$webview-border: darken($app-color-bg-dark, 10%);

:host {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $app-color-bg-dark;

    &::ng-deep #{$app-prefix}-account {
        border-top: 1px solid $webview-border;
    }

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
    }

    .no-accounts-block {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        .btn {
            white-space: normal;
        }
    }

    .controls {
        display: block;
        margin-right: $app-spacer-2;

        .btn-group {
            width: 100%;

            > .btn:first-child {
                width: 100%;
            }
        }

        .dropdown-menu {
            min-width: 100%;

            .toggle-layout-view {
                display: none;
            }
        }
    }

    &::ng-deep #{$app-prefix}-account-title {
        margin-bottom: $app-spacer-2 * 1.1;
    }

    .accounts-block {
        display: flex;
        flex-flow: row;
        z-index: 100;

        .list-group.accounts-list {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .btn-group.accounts-list {
            width: 100%;

            &::ng-deep #{$app-prefix}-account-title {
                width: 100%;
            }

            .unread-summary {
                $padding-x-addition: $app-spacer-1 * 0.75;
                @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius);
                padding-left: $padding-x-addition;
                padding-right: ($app-spacer-2 + $padding-x-addition);

                .badge {
                    @include app-unread-badge;
                    font-size: 100%;
                }
            }

            & > .dropdown-toggle {
                width: 100%;
                border-top-left-radius: $btn-border-radius;
                border-bottom-left-radius: $btn-border-radius;
            }

            .dropdown-menu {
                margin-top: $app-spacer-2;
                min-width: 100%;

                .dropdown-item {
                    padding: ($list-group-item-padding-y * 0.8) $list-group-item-padding-x;
                }
            }
        }
    }

    .account-block {
        position: relative;
        flex: 1;
    }

    .compact-layout {
        &::ng-deep #{$app-prefix}-account-title {
            .btn {
                padding: $btn-padding-y $btn-padding-x;
            }

            &:not(:last-child) {
                margin-right: $app-spacer-2;
            }
        }
    }

    @media (min-width: #{map-get($grid-breakpoints, lg)}) {
        .controls {
            .dropdown-menu {
                .toggle-layout-view {
                    display: block;
                }
            }
        }

        .wrapper:not(.compact-layout) {
            flex-flow: row;

            &::ng-deep {
                #{$app-prefix}-account {
                    border-left: 1px solid $webview-border;
                    border-top: 0;
                }
            }

            > .btn-group {
                display: none;
            }

            .controls {
                margin-right: 0;
                margin-bottom: $app-spacer-2 * 1.2;
            }

            .accounts-block {
                position: relative;
                flex-flow: column;
                flex-grow: 0;

                .list-group.accounts-list {
                    flex-direction: column;
                }
            }

            .account-block {
                flex-grow: 100;
            }

            .list-group.accounts-list {
                flex-direction: row;
                flex-wrap: wrap;

                &::ng-deep #{$app-prefix}-account-title {
                    margin-bottom: 0;

                    .btn {
                        padding: $list-group-item-padding-y $list-group-item-padding-x;
                    }

                    &:first-child {
                        &,
                        .bnt-group .btn:last-child {
                            border-top-left-radius: $btn-border-radius;
                            border-top-right-radius: $btn-border-radius;
                        }
                    }

                    &:not(:first-child) {
                        border-top: $list-group-border-width solid $gray-300;

                        &,
                        .btn {
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                        }
                    }

                    &:not(:last-child) {
                        &,
                        .btn {
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                    }

                    &:last-child {
                        &,
                        .bnt-group .btn:last-child {
                            border-bottom-left-radius: $btn-border-radius;
                            border-bottom-right-radius: $btn-border-radius;
                        }
                    }
                }
            }
        }
    }
}
