<div
    class="btn-group"
    *ngIf="state$ | async; let state"
    [ngClass]="{'selected': state.selected}"
>
    <a href="mailto:{{ state.account.accountConfig.login }}" class="btn b-primary">
        <email-securely-app-type-symbol [type]="state.account.accountConfig.type"></email-securely-app-type-symbol>
        <div class="badge ml-2" *ngIf="state.account.notifications.unread">{{ state.account.notifications.unread }}</div>
        <div class="d-flex ml-2">
            <i [class]="state.account.notifications.loggedIn ? 'fa fa-unlock' : 'fa fa-lock'"></i>
        </div>
        <div class="ml-2 d-flex flex-grow-1">{{ state.account.accountConfig.login }}</div>
    </a>
    <button class="btn b-toggle-view" (click)="toggleViewMode($event)" *ngIf="state.stored" title="Toggle online/database view mode">
        <i
            class="fa"
            [ngClass]="{
                'syncing': state.account.progress.syncing,
                'fa-database': state.account.databaseView,
                'fa-plug': !state.account.databaseView
            }"
        ></i>
    </button>
</div>
