<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        html,
        body {
            height: 100%;
        }
    </style>
    <% /* TODO enable resource ordering via the HtmlWebpackPlugin/MiniCssExtractPlugin options (dark/light theming matter) */ %>
    <link href="index.css" rel="stylesheet">
    <link href="shared-vendor-light.css" rel="stylesheet">
    <link href="shared-vendor-dark.css" rel="stylesheet">
    <link href="vendor-light.css" rel="stylesheet">
    <link href="vendor-dark.css" rel="stylesheet">
    <link href="app-theming-light.css" rel="stylesheet">
    <link href="app-theming-dark.css" rel="stylesheet">
    <script defer src="index.js"></script>
</head>
<body>
<electron-mail-app class="w-100 h-100 d-flex"></electron-mail-app>
</body>
</html>
