@import "~src/web/variables";

html,
body {
    height: 100%;
}

form .required label::after {
    content: "*";
    color: theme-color("danger");
}

// "bootstrap"
.form-control {
    &.is-valid,
    &.is-invalid {
        background-position-x: 98%;
    }
}

// "bootstrap"
.dropdown-toggle-split {
    @include app-dropdown-toggle-split;
}

// "bootstrap"
.modal-footer {
    padding: $modal-header-padding;
}

// "bootstrap"
.card-body {
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
}

// "bootstrap"
.list-group {
    > .list-group-item-action {
        cursor: pointer;
    }

    .list-group-item + .list-group-item {
        border-top-width: 1px;
    }

    .list-group-item-warning {
        border-color: map_get($app-account-title-btn-colors, "selected-border");

        + .list-group-item {
            border-top-width: 0;
        }
    }

    .list-group-item {
        &:not(:last-of-type) {
            &:not(.list-group-item-warning) {
                border-bottom-width: 0;
            }
        }
    }
}

// "ng-select"
ng-select.ng-invalid.ng-touched .ng-select-container { // sass-lint:disable-line no-qualifying-elements
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}
