@use "src/web/variables" as variables;

@mixin app-dropdown-toggle-x-padding-split {
    padding-left: variables.$btn-padding-x * 0.9;
    padding-right: variables.$btn-padding-x * 0.9;
}

@mixin app-btn-warning-light-active {
    // TODO tweak the ".btn-warning-light" style once globally rather than using mixin
    $bg: map_get(variables.$app-account-title-btn-colors, "selected-bg");
    $border: map_get(variables.$app-account-title-btn-colors, "selected-border");
    @include variables.button-variant($bg, $border, $bg, $border, $bg, $border);
    color: map_get(variables.$app-account-title-btn-colors, "selected-text") !important;

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}
