@import "src/web/variables";

:host {
    width: 100%;

    &.settings-outlet {
        z-index: $zindex-modal;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
