<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Unofficial ProtonMail Desktop App</title>
</head>
<body>
<protonmail-desktop-app-app class="w-100 h-100 d-flex"></protonmail-desktop-app-app>
</body>
</html>
