@import "./vendor/variables";

$app-prefix: email-securely-app;

$app-spacer-1: map-get($spacers, 1);
$app-spacer-2: map-get($spacers, 2);
$app-spacer-3: map-get($spacers, 3);

$app-color-purple-light: #987ebf;
$app-color-bg-dark: #5a6786;
$app-color-warning-light-text: theme-color-level("warning", 6);

$app-font-size-base-small: $font-size-base * 0.75;

@mixin app-unread-badge {
    @include badge-variant(lighten(theme-color("danger"), 3%));
    display: inline-block;
    align-self: center;
    line-height: 1;
    padding: 0.34em 0.5em;
    margin-bottom: -1px;
}

@mixin app-dropdown-toggle-split {
    padding-left: $btn-padding-x * 1.1;
    padding-right: $btn-padding-x * 1.1;
}
