@import "./vendor/variables";

$app-prefix: email-securely-app;

$app-spacer-1: map-get($spacers, 1);
$app-spacer-2: map-get($spacers, 2);
$app-spacer-3: map-get($spacers, 3);

$app-color-purple-light: #7d5caf;
$app-color-bg-dark: #5a6786;
$app-color-warning-light-text: theme-color-level("warning", 6);
$app-options-btn-min-width: 140px;

@mixin app-unread-badge {
    @include badge-variant(lighten(theme-color("danger"), 3%));
    display: flex;
    flex-direction: column;
    line-height: $line-height-base;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

@mixin app-dropdown-toggle-split {
    padding-left: $btn-padding-x * 1.1;
    padding-right: $btn-padding-x * 1.1;
}
