<div
    *ngIf="state$ | async; let state"
    [ngClass]="{'selected': state.selected, 'login-filled-once': state.account.loginFilledOnce}"
    class="btn-group"
>
    <a class="btn b-primary" href="mailto:{{ state.account.accountConfig.login }}">
        <electron-mail-type-symbol [type]="state.account.accountConfig.type"></electron-mail-type-symbol>
        <electron-mail-unread-badge
            *ngIf="state.account.notifications.unread"
            [value]="state.account.notifications.unread"
            class="ml-1"
        ></electron-mail-unread-badge>
        <div class="d-flex ml-1">
            <i [class]="state.account.notifications.loggedIn ? 'fa fa-unlock' : 'fa fa-lock'"></i>
        </div>
        <div class="d-flex ml-1 login-delay" *ngIf="state.loginDelayed">
            <i class="fa fa-hand-pointer-o" *ngIf="state.account.loginDelayedUntilSelected"></i>
            <span *ngIf="state.account.loginDelayedSeconds; let remainingSeconds">{{ remainingSeconds }}</span>
        </div>
        <div class="ml-1 d-flex flex-grow-1">
            {{ state.account.accountConfig.title || state.account.accountConfig.login }}
        </div>
    </a>
    <button (click)="toggleViewMode($event)" *ngIf="state.stored" class="btn b-toggle-view" title="Toggle online/database view mode">
        <i
            [ngClass]="{
                'syncing': state.account.progress.syncing,
                'fa-database': state.account.databaseView,
                'fa-plug': !state.account.databaseView
            }"
            class="fa"
        ></i>
    </button>
</div>
