<div *ngIf="initialized$ | async" [ngClass]="{'compact-layout': compactLayout$ | async}" class="wrapper">
    <div class="accounts-block px-2 pt-2" [ngClass]="{'d-none': hideControls$ | async}">
        <div class="controls">
            <div class="btn-group" dropdown>
                <button (click)="openSettingsView()" class="btn btn-sm btn-secondary" id="optionsMenuItem" title="Options" type="button">
                    <i class="fa fa-cog"></i>
                </button>
                <button class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" dropdownToggle type="button">
                    <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem">
                        <button
                            (click)="toggleCompactLayout()"
                            class="dropdown-item toggle-layout-view"
                            title="Toggling vertical/horizontal accounts handle buttons positioning"
                            type="button"
                        >
                            Toggle View Mode
                        </button>
                    </li>
                    <li role="menuitem">
                        <button (click)="openSettingsFolder()" class="dropdown-item" type="button">
                            Open Settings Folder
                        </button>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem">
                        <button (click)="openAboutWindow()" class="dropdown-item" type="button">
                            About
                        </button>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem">
                        <button (click)="logout()" class="dropdown-item" id="logoutMenuItem" type="button">
                            <i class="fa fa-sign-out"></i>
                            Log Out
                        </button>
                    </li>
                    <li role="menuitem">
                        <button (click)="quit()" class="dropdown-item text-danger" type="button">
                            <i class="fa fa-times"></i>
                            Exit
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div
            [ngStyle]="!accounts.length ? {'visibility': 'hidden'} : {}" class="btn-group accounts-list d-lg-none" dropdown
            placement="bottom right"
        >
            <div *ngIf="unreadSummary && accounts.length > 1" class="unread-summary">
                <electron-mail-unread-badge
                    *ngIf="unreadSummary && accounts.length > 1"
                    [value]="unreadSummary"
                ></electron-mail-unread-badge>
            </div>
            <electron-mail-account-title
                (click)="cancelEvent($event)"
                *ngIf="selectedAccount"
                [account]="selectedAccount"
                [highlighting]="false"
                dropdownToggle
            ></electron-mail-account-title>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                <li *ngFor="let account of accounts; trackBy: trackAccount" role="menuitem">
                    <electron-mail-account-title
                        (click)="activateAccount($event, account)"
                        [account]="account"
                    ></electron-mail-account-title>
                </li>
            </ul>
        </div>
        <ul class="list-group accounts-list d-none d-lg-flex">
            <electron-mail-account-title
                (click)="activateAccount($event, account)" *ngFor="let account of accounts; trackBy: trackAccount"
                [account]="account"
            ></electron-mail-account-title>
        </ul>
    </div>
    <div class="account-block">
        <div *ngIf="accounts.length; then accountsDefined else accountsUndefined"></div>
        <ng-template #accountsDefined>
            <electron-mail-account
                *ngFor="let login of ((loginsSet$ | async) || undefined); let index = index"
                [account]="getAccountByLogin(login)"
                [ngClass]="{'d-none': login != selectedAccount?.accountConfig?.login}"
            ></electron-mail-account>
        </ng-template>
        <ng-template #accountsUndefined>
            <div class="d-flex justify-content-center align-items-center p-3 no-accounts-block">
                <button (click)="openAddingAccountView()" class="btn btn-primary btn-lg" type="button">
                    <i class="fa fa-plus"></i>
                    Add Account
                </button>
            </div>
        </ng-template>
    </div>
</div>
