@import "~src/web/variables";

@mixin account-title-button($color, $border: $color) {
    @include button-variant($color, $border);

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

:host {
    display: flex;
    padding: 0;

    .btn-group {
        display: flex;
        flex-grow: 1;

        &.selected {
            .btn {
                @include account-title-button(
                    map_get($app-account-title-btn-colors, "selected-bg"),
                    map_get($app-account-title-btn-colors, "selected-border"),
                );
            }

            .btn,
            .login-delay {
                color: map_get($app-account-title-btn-colors, "selected-text");
            }
        }

        &:not(.selected) {
            &.stored {
                .b-handle {
                    border-right-color: $app-color-secondary-btn-split-border;
                }
            }
        }

        > .btn:first-child {
            flex-grow: 1;
        }
    }

    .b-handle {
        display: flex;
        flex-grow: 1;
        text-decoration: none;
        align-items: center;
    }

    .b-toggle-view {
        @include app-dropdown-toggle-split;
        margin-left: 0;
        flex-grow: 0;
        border-left-width: 0;

        .fa {
            font-size: 78%;
            width: 0.78em; // prevents button size change on icon toggling

            &.syncing {
                color: theme-color("primary");
                animation: app-keyframes-opacity 1s linear infinite;
            }
        }
    }

    .fa {
        line-height: $line-height-base;
    }

    .login-delay {
        color: $gray-300;
        font-size: 85%;

        .fa ~ span {
            margin-left: $app-spacer-1 / 2;
        }
    }
}
