@import "src/web/variables";

:host {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $app-dark-bg;

    &::ng-deep {
        webview {
            display: flex;
            flex: 1;
            height: 100%;
        }
    }

    &:not(.vm-live) {
        &::ng-deep #{$app-prefix}-account-view-primary {
            display: none;
        }
    }

    &:not(.vm-database) {
        &::ng-deep #{$app-prefix}-db-view-entry {
            display: none;
        }
    }
}
