@import "src/web/variables";

:host {
    position: absolute;
    z-index: ($zindex-modal + 1);
    left: 10%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    > #{$app-prefix}-notification-item {
        margin-top: $app-spacer-3;
    }
}
