@import "~~src/web/variables";

:host {
    display: block;

    .alert {
        position: relative;
        word-wrap: break-word;
        margin: 0;
        padding-right: 40px;

        .close {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .fa-info-circle {
        // make popover position more precise
        padding-right: 8px;
    }

    &::ng-deep {
        .popover {
            max-width: 430px;
        }
    }
}
