@import "~_web_src/variables";

:host {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;

    & > .d-flex {
        align-items: center;
        height: 100%;
    }

    .btn-block {
        margin-bottom: ($form-group-margin-bottom * 0.75);
    }
}
