@import "~_@web/src/variables";

:host {
    & > .d-flex {
        align-items: center;
        height: 100%;
    }

    .btn-block {
        margin-bottom: ($form-group-margin-bottom * 0.75);
    }
}
