@import "~_@web/src/variables";

:host {
    &::ng-deep {
        accordion-group:not(.panel-open) {
            .panel {
                border-bottom-width: 0;
            }
        }

        accordion-group:not(:first-child) {
            .panel {
                border-top-width: 0;
            }
        }

        .accordion-toggle .btn {
            padding: 0;
        }
    }
}
