<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="p-3">
<img src="<%= require("src/assets/dist/icons/icon.png") %>" alt="Logo icon">
#MAIN_PROCESS_INJECTION_POINTCUT#
<div class="d-flex flex-row justify-content-around">
    <a href="https://github.com/vladimiry/ElectronMail">Repository</a>
    <a href="https://github.com/vladimiry/ElectronMail/releases">Releases</a>
    <a href="https://github.com/vladimiry/ElectronMail/issues/new">Report an issue</a>
</div>
</body>
</html>
