@import "vendor-variables";

$app-prefix: electron-mail;

$app-spacer-1: map-get($spacers, 1);
$app-spacer-2: map-get($spacers, 2);
$app-spacer-3: map-get($spacers, 3);

$app-color-purple-light: #987ebf;
$app-color-bg-dark: #5a6786;
$app-color-bg-darkest: #5a6786; // TODO dark theme : use protonmail v4 dark bg #212123
$app-color-warning-light-text: theme-color-level("warning", 6);

$app-font-size-base-small: $font-size-base * 0.75;
$app-font-size-base-medium: $font-size-base * 0.9;

@mixin app-dropdown-toggle-split {
    padding-left: $btn-padding-x * 1.1;
    padding-right: $btn-padding-x * 1.1;
}

@keyframes app-keyframes-opacity {
    50% {
        opacity: 0;
    }
}
