@import "vendor-variables";

$app-prefix: electron-mail;

$app-spacer-1: map-get($spacers, 1);
$app-spacer-2: map-get($spacers, 2);
$app-spacer-3: map-get($spacers, 3);

$app-color-bg-dark-1: #3c414e;
$app-color-bg-dark-2: #30353f;
$app-color-bg-dark-3: #262a33;
$app-color-bg-dark-4: #1b1e24;

$app-color-purple-light: #987ebf;
$app-color-warning-light-text: theme-color-level("warning", 6);
$app-color-secondary-btn-split-border: darken($secondary, 5%);

$app-font-size-base-small: $font-size-base * 0.75;
$app-font-size-base-medium: $font-size-base * 0.9;

$app-account-title-btn-colors: map-merge(
    (
        "selected-bg": theme-color("warning-light"),
        "selected-border": darken(theme-color("warning-light"), 30%),
        "selected-text": $app-color-warning-light-text,
    ),
    (),
);

@mixin app-dropdown-toggle-split {
    padding-left: $btn-padding-x * 1.1;
    padding-right: $btn-padding-x * 1.1;
}

@keyframes app-keyframes-opacity {
    50% {
        opacity: 0;
    }
}
