<ul class="list-group mb-2" *ngFor="let rootNode of rootConversationNodes">
    <ng-container
        [ngTemplateOutlet]="nodesTemplate"
        [ngTemplateOutletContext]="{nodes: [rootNode], level: 0}"
    ></ng-container>
</ul>
<ng-template #nodesTemplate let-nodes="nodes" let-level="level">
    <ng-container *ngFor="let node of nodes;">
        <li class="list-group-item list-group-item-action" [ngStyle]="{'padding-left': level + 'em'}">
            <ng-container *ngIf="node.mail; else removedEmailStub">
                <email-securely-app-db-view-mail [mail]="node.mail"></email-securely-app-db-view-mail>
            </ng-container>
        </li>
        <ng-container
            [ngTemplateOutlet]="nodesTemplate"
            [ngTemplateOutletContext]="{nodes: node.children, level: level + 1.2}"
        ></ng-container>
    </ng-container>
</ng-template>
<ng-template #removedEmailStub>
    <div class="removed d-flex">Message has been removed. This is just a stub to preserve the conversation structure consistency.</div>
</ng-template>
