<ng-container *ngIf="(state$ | async); let state; else loadingTemplate">
    <div class="folders-container d-flex flex-column flex-shrink-0">
        <div class="overflow-auto">
            <ng-container [ngTemplateOutlet]="foldersGroup" [ngTemplateOutletContext]="{folders: state.folders.system}"></ng-container>
            <ng-container [ngTemplateOutlet]="foldersGroup" [ngTemplateOutletContext]="{folders: state.folders.custom}"></ng-container>
        </div>
        <ng-template #foldersGroup let-folders="folders">
            <ul class="list-group" *ngIf="state$ | async; let state">
                <li class="list-group-item list-group-item-action"
                    *ngFor="let folder of folders; trackBy: trackFolderByPk"
                    [ngClass]="{'list-group-item-warning': state.selectedFolderPk === folder.pk}"
                    (click)="selectFolder(folder)">
                    <email-securely-app-db-view-folder [folder]="folder"></email-securely-app-db-view-folder>
                </li>
            </ul>
        </ng-template>
    </div>
    <email-securely-app-db-view-mails
        [input]="{
            folderMeta: state.folderMeta,
            selectedMail: state.selectedMail,
            rootConversationNodes: state.rootConversationNodes
        }"
        (selectMailPkHandler)="selectMailPkHandler($event)"
        (toggleRootNodesCollapsingHandler)="toggleRootNodesCollapsingHandler($event)"
    ></email-securely-app-db-view-mails>
</ng-container>
<ng-template #loadingTemplate>
    <div class="progress d-flex flex-grow-1">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width: 100%">
            Data loading ...
        </div>
    </div>
</ng-template>
