@import "~src/web/src/variables";

:host {
    $border-color: $list-group-border-color;
    $font-size-small: $app-font-size-base-small * 1.2;

    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 $app-spacer-2 $app-spacer-2;
    border: 1px solid $border-color;

    .addresses,
    .attachments {
        .badge {
            font-weight: normal;
            font-size: $font-size-small;
            color: $gray-700;
            border: 1px solid $border-color;
        }
    }

    .addresses {
        border-bottom: 1px solid $border-color;

        .badge {
            .address:not(:last-of-type)::after {
                content: ",";
                margin-right: $app-spacer-1;
            }
        }
    }

    .body-container {
        position: relative;

        &::ng-deep {
            iframe {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }

    .attachments {
        border-top: 1px solid $border-color;
    }

    .hovered-href {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: $app-spacer-1;
        background-color: $gray-700;
        color: $white;
        border: 1px solid $gray-800;
        padding: 0.25em;
        font-size: $font-size-small;
    }

    .conversation-view-toggler {
        font-size: $app-font-size-base-small;
        border-radius: 0 0 5px 5px;
        align-self: center;
    }

    .root-node-container {
        max-height: 200px;
        overflow-y: auto !important; // sass-lint:disable-line no-important // interferes with ngx-bootstrap'a "collapse" module
        display: flex;
    }

    .root-node {
        &:not(:first-of-type) {
            #{$app-prefix}-db-view-mail {
                border-top-width: 0;
            }
        }
    }

    #{$app-prefix}-db-view-mail {
        cursor: pointer;

        &[selected="1"] {
            background-color: theme-color("warning-light");
        }
    }
}
