<div class="folders-container"
     *ngIf="state$ | async; let state">
    <ng-container [ngTemplateOutlet]="foldersGroup" [ngTemplateOutletContext]="{folders: state.folders.system}"></ng-container>
    <ng-container [ngTemplateOutlet]="foldersGroup" [ngTemplateOutletContext]="{folders: state.folders.custom}"></ng-container>
    <ng-template #foldersGroup let-folders="folders">
        <ul class="list-group" *ngIf="state$ | async; let state">
            <li class="list-group-item list-group-item-action"
                *ngFor="let folder of folders; trackBy: trackByEntityPk"
                [ngClass]="{'list-group-item-warning': state.selectedFolderPk === folder.pk}"
                (click)="selectFolder(folder)">
                <email-securely-app-db-view-folder [folder]="folder"></email-securely-app-db-view-folder>
            </li>
        </ul>
    </ng-template>
</div>
<email-securely-app-db-view-mails-list
    *ngIf="state$ | async; let state"
    [rootConversationNodes]="state.rootConversationNodes"
></email-securely-app-db-view-mails-list>
