@import "~src/web/src/variables";

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .controls {
        border: 1px solid $list-group-border-color;
        border-radius: $list-group-border-radius;
        background-color: $white;
        padding: $list-group-item-padding-y $list-group-item-padding-x;

        .badge {
            font-weight: normal;
            font-size: $app-font-size-base-small;
            color: $gray-700;
            border: 1px solid $border-color;
        }
    }

    .mails {
        &::ng-deep {
            #{$app-prefix}-db-view-mail {
                cursor: pointer;

                &:not(:last-of-type) {
                    border-bottom-width: 0;
                }

                &[selected="true"] {
                    background-color: theme-color("warning-light");
                }
            }
        }
    }

    &::ng-deep {
        #{$app-prefix}-db-view-mail-body {
            min-height: 100%;
            background-color: $white;
        }
    }

    .flex-basis-half {
        flex-basis: 50%;
    }

    .conversation {
        > .toggler {
            font-size: $app-font-size-base-small;
            color: $gray-600;
            background-color: $white;
            border-style: solid;
            border-color: $list-group-border-color;
            border-width: 0 1px 1px;
            border-radius: 0 0 5px 5px;
            padding: 0.2em;
            cursor: pointer;

            &.align-self-start {
                border-width: 1px 1px 0;
                border-radius: 5px 5px 0 0;
            }
        }

        &.unmatched-collapsed {
            .conversation-node {
                padding-left: 0 !important; // sass-lint:disable-line no-important
            }
        }

        .conversation-node {
            background-color: transparent;
            padding: 0;
            border: 0;
            cursor: pointer;

            &.unmatched-collapsible {
                opacity: 0.55;

                &.unmatched-collapsed {
                    display: none;
                }
            }

            &:not(:last-child) {
                &::ng-deep #{$app-prefix}-db-view-mail {
                    border-bottom-width: 0;
                }
            }
        }
    }

    .load-more {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
