<div class="r">
    <div class="c-auto">
        <div class="d-flex">
            <div class="state mr-2 badge badge-pill" title="{{ stateTitle }}"></div>
            <a class="sender badge flex-row mr-2"
               href="mailto:{{ mailAddress.address }}"
               title="{{ mailAddress.name ? mailAddress.name + ' <' + mailAddress.address + '>': '' }}">
                {{ mailAddress.name || mailAddress.address }}
                <span class="d-flex ml-1" *ngIf="mailAddressTotal > 1">(+{{ mailAddressTotal - 1 }})</span>
            </a>
        </div>
    </div>
    <div class="c-stretch">
        <div class="d-flex">
            <div class="subject">
                <div class="ellipsis">
                    {{ mail.subject }}
                </div>
            </div>
        </div>
        <i class="fa fa-shield d-flex ml-2" *ngIf="mail.confidential"></i>
    </div>
    <div class="c-auto">
        <div class="d-flex">
            <div class="folders mr-2 ml-2">
                <div class="d-flex badge badge-pill" *ngFor="let folder of mail.folders; trackBy: trackFolderByPk">
                    {{ folder.name }}
                </div>
            </div>
            <div class="date badge">
                {{ mail.sentDate | date:'medium' }}
            </div>
        </div>
    </div>
</div>
