<ng-container *ngIf="(state$ | async); let state; else loadingTemplate">
    <div class="left-column flex-column flex-shrink-0">
        <button
            (click)="toggleSearchView()"
            *ngIf="searchViewEnabled$ | async"
            class="btn btn-primary d-flex align-items-center flex-shrink-0 mb-2"
        >
            <span class="d-flex flex-grow-1 flex-column">Search</span>
            <i class="fa fa-angle-right d-flex"></i>
        </button>
        <div class="overflow-auto">
            <ng-container
                [ngTemplateOutletContext]="{folders: state.folders.system}"
                [ngTemplateOutlet]="foldersGroup"
            ></ng-container>
            <ng-container
                [ngTemplateOutletContext]="{folders: state.folders.custom}"
                [ngTemplateOutlet]="foldersGroup"
            ></ng-container>
        </div>
        <ng-template
            #foldersGroup
            let-folders="folders"
        >
            <ul class="list-group">
                <li
                    (click)="selectFolder(folder)"
                    *ngFor="let folder of folders; trackBy: trackFolder"
                    [ngClass]="{'list-group-item-warning': state.selectedFolderData.pk === folder.pk}"
                    class="list-group-item list-group-item-action"
                >
                    <email-securely-app-db-view-folder [folder]="folder"></email-securely-app-db-view-folder>
                </li>
            </ul>
        </ng-template>
        <div class="py-2 d-flex">
            <email-securely-app-db-view-mails-export
                [dbAccountPk]="dbAccountPk"
                [popupPlacement]="'top'"
                [title]="'Export All Mails'"
            ></email-securely-app-db-view-mails-export>
        </div>
    </div>
    <div class="right-column flex-row flex-grow-1">
        <div
            [ngClass]="{'flex-basis-half': state.selectedMail}"
            class="px-2 d-flex flex-column flex-grow-1"
        >
            <email-securely-app-db-view-mails
                [dbAccountPk]="dbAccountPk"
                [mailsBundleKey]="mailsBundleKey"
                [uid]="state.selectedFolderData?.pk"
            >
                <div
                    class="d-inline-block mr-2"
                    controls
                >
                    <button
                        (click)="toggleMailsBundleKey();"
                        class="btn btn-link p-0"
                        title="Toggle mails/conversations view mode"
                        type="button"
                    >
                        <i
                            [ngClass]="{
                                'fa-align-right fa-flip-vertical': mailsBundleKey == 'folderConversationsBundle',
                                'fa-align-justify': mailsBundleKey == 'folderMailsBundle'
                            }"
                            class="fa"
                        ></i>
                    </button>
                </div>
            </email-securely-app-db-view-mails>
        </div>
        <div
            *ngIf="state.selectedMail"
            class="flex-basis-half pr-2 d-flex flex-column"
        >
            <div class="overflow-auto">
                <email-securely-app-db-view-mail-body
                    [dbAccountPk]="dbAccountPk"
                    [selectedFolderData]="state.selectedFolderData"
                ></email-securely-app-db-view-mail-body>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loadingTemplate>
    <div class="progress d-flex flex-grow-1 mr-2">
        <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
            style="width: 100%"
        >
            Data loading ...
        </div>
    </div>
</ng-template>
<email-securely-app-db-view-mails-search
    (backToListHandler)="toggleSearchView()"
    *ngIf="searchView"
    [dbAccountPk]="dbAccountPk"
></email-securely-app-db-view-mails-search>
