@import "~src/web/src/variables";

:host {
    display: flex;
    flex-grow: 1;

    > .list-group {
        flex-grow: 1;

        > .list-group-item {
            padding: 0;
        }

        > .list-group-item-action {
            cursor: pointer;
        }
    }
}
