@import "~src/web/src/variables";

:host {
    display: flex;
    flex-direction: column;
    padding: $list-group-item-padding-y $list-group-item-padding-x;

    &.unread-1 {
        .subject {
            font-weight: bold;
        }
    }

    .fa {
        font-size: 85%;
        line-height: 1.33;
    }

    .sender,
    .date {
        font-weight: normal;
        font-size: 75%;
        color: $gray-800;
    }
}
