<ng-container *ngIf="(selectedMail$ | async) as selectedMail">
    <ng-container *ngIf="selectedMail.rootNode.summary.size > 1">
        <div
            *ngFor="let rootNode of [selectedMail.rootNode]"
            [collapse]="conversationCollapsed$ | async"
            class="flex-column root-node-container"
        >
            <ng-container
                [ngTemplateOutletContext]="{nodes: [rootNode], level: 0}"
                [ngTemplateOutlet]="nodesTemplate"
            ></ng-container>
        </div>
    </ng-container>

    <ng-template
        #nodesTemplate
        let-level="level"
        let-nodes="nodes"
    >
        <ng-container *ngFor="let node of nodes">
            <div
                *ngIf="!isEmptyNodes(nodes)"
                [ngStyle]="{'padding-left': level + 'em'}"
                class="root-node"
            >
                <email-securely-app-db-view-mail
                    (click)="selectConversationMail(node.mail)"
                    *ngIf="node.mail"
                    [attr.selected]="node.mail.pk === selectedMail.conversationMail?.pk ? 1 : 0"
                    [mail]="node.mail"
                ></email-securely-app-db-view-mail>
            </div>
            <ng-container
                [ngTemplateOutletContext]="{nodes: node.children, level: level + (isEmptyNodes(nodes) ? 0 : 0.75)}"
                [ngTemplateOutlet]="nodesTemplate"
            ></ng-container>
        </ng-container>
    </ng-template>

    <div class="d-flex controls">
        <button
            (click)="toggleConversationCollapsing()"
            *ngIf="selectedMail.rootNode.summary.size > 1"
            class="btn btn-secondary mr-2"
            type="button"
        >
            Conversation ({{ selectedMail.rootNode.summary.size }})
        </button>
        <button
            (click)="selectMailOnline()"
            *ngIf="selectingMailOnlineAvailable$ | async"
            [disabled]="selectingMailOnline$ | async"
            class="btn btn-primary mr-2"
            type="button"
        >
            <i class="fa fa-spinner fa-pulse fa-fw"></i>
            View Online
        </button>
        <email-securely-app-db-view-mails-export
            [dbAccountPk]="dbAccountPk"
            [rootConversationNode]="selectedMail.rootNode"
            [title]="'Export (' + selectedMail.rootNode.summary.size + ')'"
        ></email-securely-app-db-view-mails-export>
    </div>

    <div class="d-flex">
        <h5>{{ selectedMail.conversationMail.subject }}</h5>
    </div>

    <div class="addresses pb-2 mb-2">
        <div class="badge mr-2">
            Sender:
            <ng-container
                [ngTemplateOutletContext]="{address: selectedMail.conversationMail.sender}"
                [ngTemplateOutlet]="addressTemplate"
            ></ng-container>
        </div>
        <div
            *ngIf="selectedMail.conversationMail.toRecipients.length"
            class="badge flex-row mr-2"
        >
            To:
            <ng-container
                *ngFor="let address of selectedMail.conversationMail.toRecipients"
                [ngTemplateOutletContext]="{address: address}"
                [ngTemplateOutlet]="addressTemplate"
            ></ng-container>
        </div>
        <div
            *ngIf="selectedMail.conversationMail.ccRecipients.length"
            class="badge flex-row mr-2"
        >
            Cc:
            <ng-container
                *ngFor="let address of selectedMail.conversationMail.ccRecipients"
                [ngTemplateOutletContext]="{address: address}"
                [ngTemplateOutlet]="addressTemplate"
            ></ng-container>
        </div>
        <div
            *ngIf="selectedMail.conversationMail.bccRecipients.length"
            class="badge flex-row mr-2"
        >
            Bcc:
            <ng-container
                *ngFor="let address of selectedMail.conversationMail.bccRecipients"
                [ngTemplateOutletContext]="{address: address}"
                [ngTemplateOutlet]="addressTemplate"
            ></ng-container>
        </div>
        <ng-template
            #addressTemplate
            let-address="address"
        >
            <div class="address d-inline-block">
                <a
                    class="prevent-default-event"
                    href="mailto:{{ address.address }}"
                >{{ address.name || address.address }}</a>
            </div>
        </ng-template>
    </div>

    <div class="body-container d-flex flex-grow-1"></div>

    <div
        *ngIf="selectedMail.conversationMail.attachments.length"
        class="attachments pt-2 mt-2"
    >
        <div
            *ngFor="let attachment of selectedMail.conversationMail.attachments"
            class="attachment badge mr-2"
        >
            {{ attachment.name }}
            <span *ngIf="attachment.size">({{ attachment.size }})</span>
        </div>
    </div>
</ng-container>
