@import "~src/web/src/variables";

:host {
    $border-color: $list-group-border-color;

    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 $app-spacer-2 $app-spacer-2;
    border: 1px solid $border-color;

    .addresses,
    .attachments {
        .badge {
            font-weight: normal;
            font-size: $app-font-size-base-medium;
            color: $gray-700;
            border: 1px solid $border-color;
        }
    }

    .addresses {
        border-bottom: 1px solid $border-color;

        .badge {
            .address:not(:last-of-type)::after {
                content: ",";
                margin-right: $app-spacer-1;
            }
        }
    }

    .body-container {
        position: relative;

        &::ng-deep {
            iframe {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }

    .attachments {
        border-top: 1px solid $border-color;
    }

    .controls {
        padding: 0 $btn-padding-x ($btn-padding-y * 2) 0;
        justify-content: center;

        #{$app-prefix}-db-view-mails-export {
            border-top: 1px solid transparent;
            padding-top: $btn-padding-y;
        }

        .btn {
            font-size: $app-font-size-base-small;
            border-top-width: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            &:not([disabled]) .fa-spinner {
                display: none;
            }
        }

        .btn + #{$app-prefix}-db-view-mails-export {
            padding-top: 0;
        }
    }

    .root-node-container {
        max-height: 200px;
        overflow-y: auto !important; // sass-lint:disable-line no-important // interferes with ngx-bootstrap'a "collapse" module
        display: flex;
    }

    .root-node {
        &:not(:first-of-type) {
            #{$app-prefix}-db-view-mail {
                border-top-width: 0;
            }
        }
    }

    #{$app-prefix}-db-view-mail {
        cursor: pointer;

        &[selected="1"] {
            background-color: theme-color("warning-light");
        }
    }
}
