@import "~src/web/src/variables";

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .list-group {
        .list-group-item {
            padding: 0;
        }

        .list-group-item-action {
            cursor: pointer;
        }
    }

    .removed {
        padding: $list-group-item-padding-y $list-group-item-padding-x;
        opacity: 0.4;
        cursor: default;
    }
}
