<div class="controls mb-2">
    <a
        href="javascript:void(0)"
        title="Toggle Conversation/Plain View Mode"
        (click)="toggleConversationViewMode()"
    >
        <i class="fa" [ngClass]="{
            'fa-align-justify': conversationViewMode,
            'fa-align-right fa-flip-vertical': !conversationViewMode
        }"></i>
    </a>
</div>
<ng-container *ngIf="!conversationViewMode; else conversationViewTemplate">
    <email-securely-app-db-view-mail
        *ngFor="let mail of mails; trackBy: trackByMailPk"
        [mail]="mail"
    ></email-securely-app-db-view-mail>
</ng-container>
<ng-template #conversationViewTemplate>
    <div class="conversation mb-2" *ngFor="let rootNode of rootConversationNodes">
        <a
            class="d-block"
            href="javascript:void(0)"
            *ngIf="rootNodeHasHiddenMails(rootNode)"
            (click)="toggleRootNodeHiddenMailsVisibility(rootNode)">
            {{ rootNodeCollapsed(rootNode) ? "Expand" : "Collapse" }}
        </a>
        <ng-container
            [ngTemplateOutlet]="nodesTemplate"
            [ngTemplateOutletContext]="{nodes: [rootNode], level: 0, collapsible: rootNodeCollapsed(rootNode)}"
        ></ng-container>
    </div>
    <ng-template #nodesTemplate let-nodes="nodes" let-level="level" let-collapsible="collapsible">
        <!-- TODO consider using "virtual list", ie rendering only visible data -->
        <ng-container *ngFor="let node of nodes; trackBy: trackByNodeMailPk">
            <div class="conversation-node"
                *ngIf="!isEmptyNodes(nodes)"
                [ngStyle]="{'padding-left': level + 'em'}"
                [ngClass]="{'grayed': collapsible && nodeHasHiddenMail(node)}">
                <email-securely-app-db-view-mail
                    *ngIf="node.mail; else removedEmailStub"
                    [mail]="node.mail"
                ></email-securely-app-db-view-mail>
                <ng-template #removedEmailStub>
                    <div class="removed d-flex">
                        Message has been removed. This is just a stub to preserve the conversation structure consistency.
                    </div>
                </ng-template>
            </div>
            <ng-container
                [ngTemplateOutlet]="nodesTemplate"
                [ngTemplateOutletContext]="{nodes: node.children, level: level + (isEmptyNodes(nodes) ? 0 : 0.65), collapsible: collapsible}"
            ></ng-container>
        </ng-container>
    </ng-template>
</ng-template>
