@import "~src/web/src/variables";

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .controls {
        border: 1px solid $list-group-border-color;
        border-radius: $list-group-border-radius;
        background-color: $white;
        padding: $list-group-item-padding-y $list-group-item-padding-x;
    }

    .mails {
        &::ng-deep {
            #{$app-prefix}-db-view-mail {
                cursor: pointer;

                &:not(:last-of-type) {
                    border-bottom-width: 0;
                }

                &[selected="true"] {
                    background-color: theme-color("warning-light");
                }
            }
        }
    }

    &::ng-deep {
        #{$app-prefix}-db-view-mail-body {
            min-height: 100%;
            background-color: $white;
        }
    }

    .flex-basis-half {
        flex-basis: 50%;
    }

    .conversation {
        &.collapsed {
            .conversation-node {
                padding-left: 0 !important; // sass-lint:disable-line no-important
            }
        }

        > .toggler {
            background-color: $white;
            border: 1px solid $list-group-border-color;
            border-width: 1px 1px 0;
            border-radius: 5px 5px 0 0;
            font-size: $app-font-size-base-small;
            color: $gray-600;
            display: inline-block;
            padding: 0.25em;
            cursor: pointer;
        }

        .conversation-node {
            background-color: transparent;
            padding: 0;
            border: 0;
            cursor: pointer;

            &.collapsible {
                // opacity: 0.5;

                &.collapsed {
                    display: none;
                }
            }

            &:not(:last-child) {
                &::ng-deep #{$app-prefix}-db-view-mail {
                    border-bottom-width: 0;
                }
            }
        }
    }
}
