<div class="r">
    <div class="c-auto">
        <div class="d-flex">
            <div
                class="state mr-1 badge badge-pill"
                title="{{ stateTitle }}"
            ></div>
            <!-- TODO render "conversationSize" using transcluding -->
            <div *ngIf="conversationSize" class="conversation-size mr-1 badge">
                {{ conversationSize }}
            </div>
            <a
                *ngIf="mailAddress"
                class="prevent-default-event address badge flex-row mr-2"
                href="mailto:{{ mailAddress.address }}"
            >
                {{ mailAddress.name || mailAddress.address }}
                <span *ngIf="mailAddressTotal && mailAddressTotal  > 1" class="d-flex ml-1">
                    (+{{ mailAddressTotal - 1 }})
                </span>
            </a>
        </div>
    </div>
    <div class="c-stretch">
        <div class="d-flex">
            <div class="subject">
                <div class="ellipsis">
                    {{ mail.subject }}
                </div>
            </div>
        </div>
        <i *ngIf="mail.confidential" class="fa fa-lock d-flex text-primary ml-2"></i>
    </div>
    <div class="c-auto">
        <div class="d-flex">
            <!-- TODO render "score" using transcluding -->
            <div
                *ngIf="mail.score"
                class="score badge ml-2"
            >
                score: {{ mail.score.toFixed(2) }}
            </div>
            <div class="folders flex-row ml-2">
                <div *ngFor="let folder of mail.folders; trackBy: trackFolderByPk" class="d-flex badge mr-2">
                    {{ folder.name }}
                </div>
            </div>
            <div class="date badge">
                {{ mail.sentDate | date:'medium' }}
            </div>
        </div>
    </div>
</div>
