<ng-template #mainTemplate>
    <button
        (click)="export()"
        class="btn btn-link p-0 d-flex flex-grow-1"
        type="button"
    >
        <span class="text">{{ title }}</span>
    </button>
    <i
        [placement]="popupPlacement"
        [popover]="popupTemplate"
        class="fa fa-info-circle text-warning d-flex align-self-center ml-1"
        container="body"
        triggers="mouseenter:mouseleave"
    ></i>
    <ng-template #popupTemplate>
        <div class="text-center">
            App exports emails in the<br>
            original unsanitized form.<br>
            Attachments are ignored.
        </div>
    </ng-template>
</ng-template>
<div
    class="text-primary d-flex flex-grow-1"
    style="cursor: not-allowed"
    *ngIf="($state | async)?.exporting; else mainTemplate"
>
    <span class="text">Export</span>
    <small><i class="fa fa-spinner fa-pulse fa-fw ml-2"></i></small>
</div>
