@import "~src/web/src/variables";

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .conversation {
        .conversation-node {
            background-color: transparent;
            padding: 0;
            border: none;
            cursor: pointer;

            &.grayed {
                &::ng-deep #{$app-prefix}-db-view-mail {
                    .r {
                        display: none;
                    }
                }
            }

            &:not(:last-child) {
                &::ng-deep #{$app-prefix}-db-view-mail {
                    border-bottom-width: 0;
                }
            }
        }
    }

    .removed {
        padding: $list-group-item-padding-y $list-group-item-padding-x;
        opacity: 0.4;
        cursor: default;
    }
}
