<div class="d-flex">
    <h5>{{ mail.subject }}</h5>
</div>
<div class="addresses d-flex pb-2 mb-2">
    <div class="badge flex-row mr-2">
        Sender:
        <ng-container
            [ngTemplateOutlet]="addressTemplate"
            [ngTemplateOutletContext]="{address: mail.sender}"
        ></ng-container>
    </div>
    <div class="badge flex-row mr-2" *ngIf="mail.toRecipients.length">
        To:
        <ng-container
            *ngFor="let address of mail.toRecipients"
            [ngTemplateOutlet]="addressTemplate"
            [ngTemplateOutletContext]="{address: address}"
        ></ng-container>
    </div>
    <div class="badge flex-row mr-2" *ngIf="mail.ccRecipients.length">
        Cc:
        <ng-container
            *ngFor="let address of mail.ccRecipients"
            [ngTemplateOutlet]="addressTemplate"
            [ngTemplateOutletContext]="{address: address}"
        ></ng-container>
    </div>
    <div class="badge flex-row mr-2" *ngIf="mail.bccRecipients.length">
        Bcc:
        <ng-container
            *ngFor="let address of mail.bccRecipients"
            [ngTemplateOutlet]="addressTemplate"
            [ngTemplateOutletContext]="{address: address}"
        ></ng-container>
    </div>
    <ng-template #addressTemplate let-address="address">
        <div class="address d-inline-block">
            <a class="prevent-default-event"
                href="mailto:{{ address.address }}">{{ address.name || address.address }}</a>
        </div>
    </ng-template>
</div>
<div class="body d-flex flex-grow-1">
    <div [innerHtml]="mail.body"></div>
</div>
<div class="d-flex hovered-href rounded" [innerText]="hoveredHref" *ngIf="hoveredHref"></div>
<div class="d-flex attachments pt-2 mt-2" *ngIf="mail.attachments.length">
    <div class="attachment badge flex-row mr-2" *ngFor="let attachment of mail.attachments">
        {{ attachment.name }}
        <span *ngIf="attachment.size">({{ attachment.size }})</span>
    </div>
</div>
