@import "~src/web/src/variables";

:host {
    display: flex;
    flex-direction: column;
    padding: $list-group-item-padding-y $list-group-item-padding-x;

    &.unread {
        .subject {
            font-weight: bold;
        }
    }

    .sender,
    .date {
        font-weight: normal;
        font-size: 75%;
        color: $gray-800;
    }

    .date {
        border: 1px solid $list-group-border-color;
    }
}
